<section class="content-header">
  <h1>
    <i class="fa fa-book"></i> Assignments
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Assignments</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->

  <div class="box box-default">
    <div class="box-header with-border" ng-show="showRole(['admin','teacher'])">
      <!--<i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3>-->
      <!-- <ul class="panel-controls">
        <li> <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)"
          /></li>
        <li> <input type="button" value="Import" class="btn btn-primary" ng-click="handleFile()" /></li>

      </ul> -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Class</label>
            <select class="form-control select2" ng-options="class.class_id as class.name for class in classData" data-ng-change="populateSections(classId)"
              style="width: 100%;" ng-model="classId">
                        
                      </select>
          </div>
        </div>

        <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Section</label>
            <select data-ng-change="populateSubjects(secId)" ng-options="sec.section_id as sec.name for sec in secData" class="form-control select2"
              style="width: 100%;" ng-model="secId">
                      </select>
          </div>
        </div>

        <div class="col-md-4" ng-show="showRole(['admin','teacher','parent'])">
          <div class="form-group">
            <label>Select Subject</label>
            <select data-ng-change="populateChapters(subId)" ng-options="sub.subject_id as sub.name for sub in subData" class="form-control select2"
              ng-model="subId" style="width: 100%;">
                        </select>
          </div>
        </div>
         <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
            <div class="form-group">
              <label>Select Chapter </label>
             
                      </select>
                      <select data-ng-change="getAssignments(secId,chapterId)" class="form-control select2" ng-model="chapterId" style="width: 100%;">
                            <option selected="selected">--Select--</option>
                            <option ng-repeat="chapter in chapterData" value="{{chapter.lession_id}}">{{chapter.title}}</option>
                        </select>
            </div>
          </div>

      </div>
      <div class="row">
        <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
          <button type="submit" class="btn btn-primary pull-right">Select</button>
        </div>
      </div>

      <div class="box-header with-border" ng-show="showRole(['admin','teacher'])">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <h3 class="box-title">Add Assignments</h3>
      </div>
    
      <form name="Assignments" ng-submit="Assignments.$valid && addAssignments(data)" novalidate>
        <div class="row">
          <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': Assignments.$submitted  && Assignments.assignmentTitle.$pristine}">
              <label>Assignment Title</label>
              <input type="text" name="assignmentTitle" ng-model="data.assignment_title" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
         
          <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
            <div class="form-group">
              <label>Due Date</label>
              <div class="input-group date" ng-class="{'has-error': Assignments.$submitted  && Assignments.dueDate.$pristine}">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <!--<input type="text"  ng-model="data.due_date" class="form-control pull-right" id="datepicker">-->
                <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                  <input class="form-control" name="dueDate" type="text" ng-model="data.due_date" ng-readonly="true" placeholder="Enter ..."
                    required/>
                </datepicker>
              </div>
            </div>
          </div>
        <!--</div>
        <div class="row">-->
          <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': Assignments.$submitted  && Assignments.description.$pristine}">
              <label>Description</label>
              <textarea class="form-control" name="description" ng-model="data.description" rows="3" placeholder="Enter ..." required></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
            <button type="submit" class="btn btn-primary pull-right">Add Assignment</button>
          </div>
        </div>
      </form>
    </div>


  </div>

  <!-- /.content -->

  <!-- Content List -->
  <div class="box box-default">
    <div class="box-header with-border">

      <i class="fa fa-th-list" aria-hidden="true"></i>
      <h3 class="box-title">Assignments</h3>
      <li style="float:right;list-style-type:none;"><button type="button" data-ng-click="exportAction('excel')" class="btn btn-primary pull-right">Save as Excel</button></li>
      <li style="float:right;list-style-type:none;"><button type="button" data-ng-click="exportAction('pdf')" class="btn btn-primary pull-right">Save as PDF</button></li>
      <!--<ul class="panel-controls">
        <div id="exportthis"></div>
        <canvas></canvas>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <li><button type="button" ng-click="export()" class="btn btn-primary pull-right" >Save as PDF</button></li>

       
      </ul>-->
    </div>
    <div class="box-body">
      <div class="tab-content">
        <div class="tab-pane table-responsive no-padding active" id="tab_1">
          <table export-table st-table="display_records" st-safe-src="assignmentsData" class="table rwd-table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Assignment Title</th>
                <th>Chapter Name</th>
                <th>Due Date</th>
                <th>Description</th>
                <th class="pull-right" >Action</th>
              </tr>
            </thead>
            <tbody>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="assignment in display_records">
                <td>{{$index+1}}</td>
                <td><span editable-text="assignment.assignment_title" e-name="assignment.assignment_title" onaftersave="EditAssignments($index)" e-form="rowform" e-required>{{assignment.assignment_title || 'empty' }}</span></td>
                <!--<td><span editable-text="assignment.chapter_name" e-name="assignment.chapter_name" onaftersave="EditAssignments($index)" e-form="rowform" e-required>{{assignment.chapter_name || 'empty' }}</span></td>-->
                <td><a href="">
                                                    <!--<span editable-select="assignment.chapter_name" e-name="chapter_name" e-form="rowform" e-selectpicker e-ng-options="chapter.title as chapter.title for chapter in chapterData">-->
                {{ assignment.chapter_doc[0].title}}</a>
              <!--</span>-->
                                                </td>
                <td><span editable-text="assignment.due_date" e-name="assignment.due_date" onaftersave="EditAssignments($index)" e-form="rowform" e-required>{{assignment.due_date || 'empty' }}</span></td>
                <td><span editable-text="assignment.description" e-name="assignment.description" onaftersave="EditAssignments($index)" e-form="rowform" e-required>{{assignment.description || 'empty' }}</span></td>
                <td class="pull-right" >
                  <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == assignment">
                    <button type="submit" ng-click="EditAssignments($index)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"><i class="fa fa-check"></i></button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"><i class="fa fa-remove"></i></button>
                  </form>

                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteAssignments($index)" ng-confirm-click="Are you sure you want to delete this item?"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>-->
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-center">
                  <div class="pull-right" st-pagination="" st-items-by-page="6" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

