<section class="content-header">
  <h1>
    <i class="fa fa-book"></i> Library
    <small>Add Book</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Library</li>
    <li class="active">Add Book</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <h3 class="box-title">Add Book</h3>
      <ul class="panel-controls">
        <li> <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)"
          /></li>
        <li> <input type="button" value="Import" class="btn btn-primary" ng-click="handleFile()" /></li>

        <!--<form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
          <input type="file" name="file" />Upload
          <input type="submit" value="Upload" name="submit" ng-click="save()">
        </form>-->
      </ul>

    </div>
    <form name="Book" ng-submit="Book.$valid && addBook(data)" novalidate>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.bookTitle.$pristine}">
              <label>Book Title</label>
              <input name="bookTitle" type="text" ng-model="data.book_title" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.authorName.$pristine}">
              <label>Author Name</label>
              <input name="authorName" type="text" ng-model="data.author_name" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.bookPrice.$pristine}">
              <label>Book Price</label>
              <input name="bookPrice" type="text" ng-model="data.book_price" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.quantity.$pristine}">
              <label>Quantity</label>
              <input name="quantity" type="text" ng-model="data.qty" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.rackNumber.$pristine}">
              <label>Rack Number</label>
              <input name="rackNumber" type="text" ng-model="data.rack_number" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': Book.$submitted  && Book.inwardDate.$pristine}">
              <label>Inward Date</label>
              <datepicker date-min-limit='today1' date-format="dd-MM-yyyy" style="z-index:999">
                <input class="form-control" name="inwardDate" type="text" ng-model="data.inward_date" ng-readonly="true" placeholder="Enter ..."
                  required/>
              </datepicker>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4" ng-class="{'has-error': Book.$submitted  && Book.selectSubject.$pristine}">
            <label>Select Class</label>
            <select data-ng-change="populateSections(classId)" name="selectSubject" ng-options="class.class_id as class.name for class in classData"
              class="form-control select2" ng-model="classId" style="width: 100%;">
                      </select>
          </div>
          <div class="col-md-4" ng-class="{'has-error': Book.$submitted  && Book.selectSubject.$pristine}">
            <label>Select Section</label>
            <select data-ng-change="populateSubjects(secId)" ng-options="sec.section_id as sec.name for sec in secData" name="selectSubject"
              class="form-control select2" ng-model="secId" style="width: 100%;">
                    
                      </select>
          </div>
          <div class="col-md-4" ng-class="{'has-error': Book.$submitted  && Book.selectSubject.$pristine}">
            <label>Select Subject</label>
            <select data-ng-change="getChapters(subId)" name="selectSubject" ng-options="sub.name as sub.name for sub in subData" class="form-control select2"
              ng-model="data.subject" style="width: 100%;">
                      </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" ng-class="{'has-error': Book.$submitted  && Book.bookDescription.$pristine}">
            <label>Book Description</label>
            <textarea name="bookDescription" class="form-control" ng-model="data.book_description" rows="3" placeholder="Enter ..." required></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Add Book</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</section>