<div class="row background">
  <div class="container">
    <h1>Admin Management</h1>
    <ul class="links">
      <li ui-sref-active="active">
        <a ui-sref='main.schoolProfile'>School Profile</a>
      </li>
      <li ui-sref-active="active">

        /
        <a ui-sref='main.addClass&Section'>Class&Section</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin'])">
        /
        <a ui-sref='main.parentInfo'>ParentInfo</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin'])">
        /
        <a ui-sref='main.teacherInfo'>TeacherInfo</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin','teacher'])">
        /
        <a ui-sref='main.taskManagement'>TaskManagement</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin'])">
        /
        <a ui-sref='main.quote'>Quote & Word</a>
      </li>
    </ul>
  </div>
</div>

<!-- Main content -->

<!-- Select Criteria -->

<!-- <div class="box box-default"> -->
<!--<div class="box-header with-border" >
      <i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3>
    </div>-->
<!-- /.box-header -->
<!-- <div class="box-body">
      <div class="row"> -->
<!--<div class="col-md-3">
          <div class="form-group">
            <label>Batch Year</label>
            <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                      </select>
          </div>
        </div>-->

<!-- <div class="col-md-3">
          <div class="form-group">
            <label>Class</label>
            <select class="form-control select2" ng-options="class.class_id as class.name for class in classData" data-ng-change="populateSections(classId)"
              style="width: 100%;" ng-model="classId">
                        
                      </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Section</label>
            <select class="form-control select2" ng-options="sec.section_id as sec.name for sec in secData" style="width: 100%;" ng-model="secId">                    
                        
                      </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Search by keyword</label>
            <input type="text" name="search_text" class="form-control" ng-model="searchstudent" placeholder="Search...">
          </div>
        </div>

      </div>
    </div>

    <div class="box-footer">
      <button ng-click="getParents(secId);" class="btn btn-primary pull-right">Search</button>
    </div>
  </div> -->

<!-- /.content -->
<div class="container">
  <div class="row">
    <div class="booklist">
      <div class="col-md-12">
        <div class="backwhite">
          <!-- <ul style="list-style-type:none;">
      
     
          <li class="col-md-6"> -->
          <div class="table-responsive" style="width:100%">
            <table export-table st-table="display_records" st-safe-src="parentBox" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <!-- <th>ParentId</th> -->
                  <th>Student Name</th>
                  <th>Parent Name</th>
                  <!-- <th>SchoolId</th> -->
                  <th>User Name</th>
                  <th>Password</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="parent in display_records">
                  <td>{{parent.id+1}}</td>
                  <td>

                    {{parent.first_name}} {{parent.last_name}}
                  </td>

                  <td>
                    {{parent.parent_name}}
                  </td>


                  <td>
                    {{parent.parent_id | lowercase}}
                  </td>
                  <td>
                    {{parent.parent_id | lowercase}}
                  </td>
                  <td>
                    <button class="btn btn-primary" type="submit">Send</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="text-center">
                    <div class="pull-right" st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
          <!-- </li> -->
          <!-- <li class="col-md-6">
         
            <table export-table st-table="display_records" st-safe-src="username" class="table rwd-table table-striped" >
              <thead>
                <tr>
              
                  <th>User Name</th>
                  <th>Password</th>
                
                </tr>
              </thead>
              <tbody>
                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="parent in display_records">
                  
                  <td>
                    <a href="">{{parent | lowercase}}</a>
                  </td>
                  <td>
                    <a href="">{{parent | lowercase}}</a>
                  </td>
                
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="text-center">
                    <div class="pull-right" st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
         
          </li>
        
      -->
          <!-- 
    </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>