<div class="row background">
    <div class="container">
        <h1>Attendance Management</h1>
        <!-- <ul class="links">
            <li>
                <a ui-sref='main.studentAttendance'>Student Attendance</a>/
                <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListStudent'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportStudent'> ReportByMonth</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ui-sref='main.employeeAttendance'>Employee Attendance</a>
                <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                    </li>
                </ul>
            </li>

        </ul> -->
        <ul class="links">
            <li>
                <a ui-sref='main.studentAttendance'>Student</a>
                <!-- <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListStudent'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportStudent'> ReportByMonth</a>
                    </li>
                </ul> -->
            </li>
            <li class="links" ng-show="showRole(['admin'])">
                /<a ui-sref='main.employeeAttendance'>Employee</a>
                <!-- <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                    </li>
                </ul> -->
            </li>
            <li class="links">
               / <a ui-sref='main.attendenceListStudent'>Student Reports</a>
                <!-- <ul class="links">
                        <li>
                            <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                        </li>/
                        <li>
                            <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                        </li>
                    </ul> -->
            </li>
            <li class="links" ng-show="showRole(['admin'])">
               / <a ui-sref='main.attendenceListEmployee'>Employee Reports</a>
                <!-- <ul class="links">
                            <li>
                                <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                            </li>/
                            <li>
                                <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                            </li>
                        </ul> -->
            </li>

        </ul>
    </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="employeeattendance">
    <div class="col-md-3">
          <div class="backwhite">
            <h1>Attendance</h1>
             <div class="form-group">
                        <label>Employee Type</label>
                        <select ng-model="search.job_category" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--All--</option>
                        <option value="teaching">Teaching</option>
                        <option value="non-teaching">Non-Teaching</option>
                        <option value="administrative">Administrative</option>
                      </select>
                    </div>
              <div class="form-group">
                        <label>Gender</label>
                        <select ng-model="search.gender" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--All--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
              <div class="form-group">
                        <label>Search by keyword</label>
                        <input ng-model="search.first_name" type="text" name="search_text" class="form-control" placeholder="Search...">
                    </div>
              <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Search</button>
        </div>
    </div>
    </div>
   <div class="col-md-9">
         <div class="backwhite">
          <h1>Student List</h1>
           <div class="buttons">
                 <button type="button" class="btn btn-primary pull-left">
                <i class="state-icon glyphicon glyphicon-unchecked"></i>
                &nbsp;
                Mark as holiday
                </button>
                  <button ng-click="submitBulkAttendance()" type="button" class="btn btn-primary pull-right">
                <i class="fa fa-save"></i>
                Submit Attendance
                </button>
           </div> 
               <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <div class="squaredFour">
                                        <input type="checkbox" value="None" id="squaredFour" data-ng-change="tickAll(check)" ng-model="check" name="check" />
                                        <label for="squaredFour"></label>
                                    </div>
                                    <span class="selection">All</span>
                                </th>
                                <th>Employee Id</th>
                                <th>Name</th>
                                <th>Attendance
                                    <select ng-if="check" class="select2" style="font-weight:normal;margin-left:15px;" ng-change="markAttendance(attendVal)" ng-model="attendVal">
                                  <option value="" selected="selected">--Select--</option>
                                  <option value="Present">Present</option>
                               
                                  <option value="Absent">Absent</option>
                                  <option value="On Leave">On Leave</option>
                                </select>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="employee in attendanceBox | filter:{first_name :search.first_name,job_category:search.job_category,gender:search.gender}">
                                <td>{{$index+1}}</td>
                                <td>
                                    <div class="squaredFour">
                                        <input type="checkbox" value="None" id="squaredFour{{$index}}" name="check" ng-model="employee.selected" />
                                        <label for="squaredFour{{$index}}"></label>
                                    </div>
                                </td>
                                <td>{{employee.employee_id}}</td>
                                <td>{{employee.first_name}} {{employee.last_name}}</td>
                                <td>

                                    <div class="radio radio-info radio-inline">
                                        <input ng-change="attn(student,attend)" type="radio" ng-model="employee.status" value="Present" id="attendencetype+{{$index}}" name="attendencetype+{{$index}}">
                                        <label for="inlineRadio1"> Present </label>
                                    </div>
                               
                                    <div class="radio radio-info radio-inline">
                                        <input ng-change="attn(student,attend)" type="radio" ng-model="employee.status" value="Absent" name="attendencetype+{{$index}}">
                                        <label for="inlineRadio1"> Absent </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input ng-change="attn(student,attend)" type="radio" ng-model="employee.status" value="On Leave" name="attendencetype+{{$index}}">
                                        <label for="inlineRadio1"> On Leave </label>

                                        <td><button ng-click="addAttendance(employee,employee.status)" class="btn btn-primary smallButton " type="button" value="add">Add</button></td>
                            </tr>


                        </tbody>
                    </table>
    </div>
    </div>
  </div>
  </div>
</div>   -->
<div class="container">
    <div class="row">
        <div class="employeeattendance">
            <div class="col-md-3">
                <div class="backwhite">


                    <!-- <div class="form-group">
                        <label>Select Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            
                            <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="yyyy-MM-dd" style="z-index:999">
                                <input class="form-control" name="selectDate" type="text" ng-model="select_date" ng-readonly="true" placeholder="Enter ..."
                                    required/>
                            </datepicker>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label>Employee Type</label>
                        <select ng-model="search.job_category" class="form-control select2" style="width: 100%;">
                            <option value="all" selected>--All--</option>
                            <option value="teaching">Teaching</option>
                            <option value="non-teaching">Non-Teaching</option>
                            <option value="administrative">Administrative</option>
                        </select>
                    </div>
                    <div class="box-footer">
                        <button ng-click="getEmployeeByCategory(search.job_category);" class="btn btn-primary pull-right" style="background-color: #03104e;border-color: #03104e;">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="backwhite">
                    <!-- <div class="col-md-9"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="mailbox-controls">
                                    <button type="button" class="btn btn-primary pull-left">
                                        <i class="state-icon glyphicon glyphicon-unchecked"></i>
                                        &nbsp; Mark as holiday
                                    </button>
                                    <input type="checkbox" class="hidden" name="holiday" value="checked">
                                </div> -->
                            <div class="squaredFour">

                                <input type="checkbox" value="None" id="squaredFour" data-ng-change="tickAll(check)" ng-model="check" name="check" />
                                <label for="squaredFour"></label>

                            </div>
                            <span>Tick All</span>

                            <select ng-if="check" class="select2" style="font-weight:normal;margin-left:15px;" ng-change="markAttendance(attendVal)"
                                ng-model="attendVal">
                                <option value="" selected="selected">--Select--</option>
                                <option value="Present">Present</option>
                                <!--<option value="Late with excuse">Late with excuse</option>
                              <option value="Late">Late</option>-->
                                <option value="Absent">Absent</option>
                                <option value="On Leave">On Leave</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary pull-right" ng-click="submitBulkAttendance()">
                                <i class="fa fa-save"></i>
                                Submit Attendance
                            </button>
                        </div>
                    </div>
                    <div class="rollno">
                        <!--<div class="row1">-->
                        <div class="hvr-bounce-in transition" ng-repeat="employee in attendanceBox">
                            <div class="squaredFour">
                                <input type="checkbox" value="None" id="squaredFour{{$index}}" name="check" ng-model="employee.selected" />
                                <label for="squaredFour{{$index}}"></label>
                            </div>
                            <!-- {{$index+1}} -->
                            <h1>{{employee.first_name}} {{employee.last_name}}</h1>
                            <div class="stuattbg" style="background-color: white;width: 70px;height: 65px;border-radius: 35px;margin-left: 37px;margin-bottom: 10px;">
                                <div class="stuattpic" style="height: 100px;width: 100px;">
                                    <img ng-src="{{globalServicesURL}}api/image/{{employee.image}}" alt="Image" style="height: 50px;width: 50px;margin-right: 28px;margin-top: 7px;border-radius: 20px;">
                                    <!-- <img ng-src="http://192.168.1.4:4005/api/image/{{student.image}}" style="height: 50px;width: 50px;margin-right: 28px;margin-top: 7px;border-radius: 20px;"> -->
                                </div>
                            </div>
                            <div class="icons" style="background-color: white;width:120px;height:40px;padding-left:0px;text-align: center;padding-top: 0px;">
                                <!-- <div class="btn-group" ng-model="radioValue" bs-buttons-radio>
                                <button type="button" ng-change="attn(student,attend)" class="btn fa fa-check" value="left" name="attendencetype+{{$index}}">
                                    <i class="icon-align-left"></i>
                                </button>
                                <button type="button" ng-change="attn(student,attend)" class="btn fa-times" value="middle" name="attendencetype+{{$index}}">
                                    <i class="icon-align-center"></i>
                                </button>
                                <button type="button" ng-change="attn(student,attend)" class="btn fa-calendar-o" value="right" name="attendencetype+{{$index}}">
                                    <i class="icon-align-right"></i>
                                </button>
                            </div> -->

                                <input ng-change="attn(employee,attend)" type="radio" ng-model="employee.status" value="Present" id="radio1{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio1{{$index}}">
                                    <i class="fa fa-check"></i>
                                </label>
                                <input ng-change="attn(employee,attend)" type="radio" ng-model="employee.status" value="Absent" id="radio2{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio2{{$index}}">
                                    <i class="fa fa-times"></i>
                                </label>
                                <input ng-change="attn(employee,attend)" type="radio" ng-model="employee.status" value="On Leave" id="radio3{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio3{{$index}}">
                                    <i class="fa fa-calendar-o"></i>
                                </label>

                                <!-- <div class="radio radio-info radio-inline">
                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="Present" id="attendencetype+{{$index}}"
                                    name="attendencetype+{{$index}}">
                                <label for="inlineRadio1"> Present </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="Absent" name="attendencetype+{{$index}}">
                                <label for="inlineRadio1"> Absent </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="On Leave" name="attendencetype+{{$index}}">
                                <label for="inlineRadio1"> On Leave </label>
                            </div> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    input[type='radio'] {
        width: 5px;
        height: 20px;
        visibility: hidden;
    }

    input[type='radio']:checked+label {
        background: green;
    }
</style>