<div class="row background">
  <div class="container">
    <h1>TimeTable Management</h1>
    <ul class="links">
      <li>
        <a ui-sref='main.classWise'>Class Wise</a>
      </li>
      <li>/
        <a ui-sref='main.schoolEvents'>Events</a>
      </li>
      <li>/
        <a ui-sref='main.onlineNoticeBoard'>Notice Board</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="Evaluations">
      <div class="col-md-3" >
        <div class="backwhite">
          <form name="events" ng-submit="events.$valid && addEvent(data)" novalidate>


            <div ng-show="showRole(['admin'])" class="form-group" ng-class="{'has-error': events.$submitted && events.event_name.$invalid && events.event_name.$pristine}">
              <label>Event Title</label>
              <input type="text" name="event_name" class="form-control" ng-model="data.event_name" placeholder="Enter ..." required>
            </div>




            <div ng-show="showRole(['admin'])" class="form-group" ng-class="{'has-error': events.$submitted && events.date.$invalid && events.date.$pristine}">
              <label>Event Date</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <!--<input type="text" class="form-control pull-right" ng-model="data.exam_classes" id="datepicker">-->
                <datepicker date-format="yyyy-MM-dd" style="z-index:999">
                  <input name="Date" class="form-control" type="text" ng-readonly="true" ng-model="data.date" placeholder="Enter ..." required/>
                </datepicker>
              </div>
            </div>





            <div ng-show="showRole(['admin'])" class="form-group" ng-class="{'has-error': events.$submitted && events.time.$invalid && events.time.$pristine}">
              <label>Event Time</label>
              <div class="input-group">
                <!--<circulartimepicker input type="text" name="Time" ng-model="data.time" class="form-control timepicker" required></circulartimepicker>-->
                <input type="text" name="Time" ng-model="data.time" class="form-control timepicker" required>
                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
            </div>




            <div ng-show="showRole(['admin'])" class="form-group" ng-class="{'has-error': events.$submitted && events.description.$invalid && events.description.$pristine}">

              <label>Description</label>
              <input type="text" name="Description" class="form-control" ng-model="data.description" placeholder="Enter ..." required>

            </div>




            <div class="box-footer" ng-if="showRole(['admin'])">
              <button type="submit" class="btn btn-primary pull-right" style="background-color: #03104e;border-color: #03104e; margin-right:12px;">Add Event</button>
            </div>



          </form>
        </div>
      </div> 



      <div class="col-md-9">
        <div class="span8">
          <tabset>

            <tab select="renderCalendar('myCalendar3');">

              <div class="btn-toolbar">

                <div class="btn-group" style="margin-top: 1%;">
                  <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</button>
                  <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</button>
                  <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
                </div>
              </div>
              <div class="calendar" ng-model="eventSources" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
            </tab>
          </tabset>
        </div>


      </div>
    </div>
  </div>
</div>