<div class="row background">
    <div class="container">
        <h1>Attendance Management</h1>
        <ul class="links">
            <li>
                <a ui-sref='main.studentAttendance'>Student</a>
                <!-- <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListStudent'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportStudent'> ReportByMonth</a>
                    </li>
                </ul> -->
            </li>
            <li class="links" ng-show="showRole(['admin'])">
                /<a ui-sref='main.employeeAttendance'>Employee</a>
                <!-- <ul class="links">
                    <li>
                        <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                    </li>/
                    <li>
                        <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                    </li>
                </ul> -->
            </li>
            <li class="links">
                    /<a ui-sref='main.attendenceListStudent'>Student Reports</a>
                    <!-- <ul class="links">
                        <li>
                            <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                        </li>/
                        <li>
                            <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                        </li>
                    </ul> -->
                </li>
                <li class="links" ng-show="showRole(['admin'])">
                        /<a ui-sref='main.attendenceListEmployee'>Employee Reports</a>
                        <!-- <ul class="links">
                            <li>
                                <a ui-sref='main.attendenceListEmployee'>ReportByDay</a>
                            </li>/
                            <li>
                                <a ui-sref='main.attendenceReportEmployee'>ReportByMonth</a>
                            </li>
                        </ul> -->
                    </li>
    
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="studentattendance">
            <div class="col-md-3">
                <div class="backwhite">

                    <div class="form-group">
                        <label>Class</label>
                        <select class="form-control select2" ng-options="class.class_id as class.name for class in classDatanew" data-ng-change="populateSections(classId)"
                            style="width: 100%;" ng-model="classId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        <select class="form-control select2" ng-options="sec.section_id as sec.name for sec in secData" style="width: 100%;" ng-model="secId">
                        </select>
                    </div>
                    <div class="box-footer">
                        <button ng-click="getStudents(secId)" class="btn btn-primary pull-right" style="background-color: #03104e;border-color: #03104e;">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="backwhite">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="squaredFour">

                                <input type="checkbox" value="None" id="squaredFour" data-ng-change="tickAll(check)" ng-model="check" name="check" />
                                <label for="squaredFour"></label>

                            </div>
                            <span>Tick All</span>

                            <select ng-if="check" class="select2" style="font-weight:normal;margin-left:15px;" ng-change="markAttendance(attendVal)"
                                ng-model="attendVal">
                                <option value="" selected="selected">--Select--</option>
                                <option value="Present">Present</option>
                                <!--<option value="Late with excuse">Late with excuse</option>
                                  <option value="Late">Late</option>-->
                                <option value="Absent">Absent</option>
                                <option value="On Leave">On Leave</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary pull-right" ng-click="submitBulkAttendance()">
                                <i class="fa fa-save"></i>
                                Submit Attendance
                            </button>
                        </div>
                    </div>
                    <div class="rollno">
                        <!--<div class="row1">-->
                        <div class="hvr-bounce-in transition" ng-repeat="student in attendanceBox">
                            <div class="squaredFour">
                                <input type="checkbox" value="None" id="squaredFour{{$index}}" name="check" ng-model="student.selected" />
                                <label for="squaredFour{{$index}}"></label>{{student.roll_no}}
                                <!-- <h4 style="text-align:center"></h4> -->
                            </div>
                            <!-- {{student.roll_no}} -->

                            <!-- <div class="logo">
                                    <img class="img-thumbnail" ng-src="{{globalServices}}{{student.image}}" style="height:55px;">
                            </div> -->
                            <!-- <img ng-src="{{schoolImage}}" class="user-image" alt="User Image"> -->
                            <h1>{{student.first_name}}{{student.last_name}}</h1>
                            <div class="stuattbg" style="background-color: white;width: 70px;height: 65px;border-radius: 35px;margin-left: 37px;margin-bottom: 10px;">
                                <div class="stuattpic" style="height: 100px;width: 100px;">
                                    <img ng-src="{{globalServicesURL}}api/image/{{student.image}}" alt="Image" style="height: 50px;width: 50px;margin-right: 28px;margin-top: 7px;border-radius: 20px;">
                                    <!-- <img ng-src="http://192.168.1.4:4005/api/image/{{student.image}}" style="height: 50px;width: 50px;margin-right: 28px;margin-top: 7px;border-radius: 20px;"> -->
                                </div>
                            </div>

                            <div class="icons" style="background-color: white;width:120px;height:40px;padding-left:0px;text-align: center;padding-top: 0px;">

                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="Present" id="radio1{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio1{{$index}}">
                                    <i class="fa fa-check"></i>
                                </label>
                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="Absent" id="radio2{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio2{{$index}}">
                                    <i class="fa fa-times"></i>
                                </label>
                                <input ng-change="attn(student,attend)" type="radio" ng-model="student.status" value="On Leave" id="radio3{{$index}}" name="attendencetype+{{$index}}"
                                />
                                <label for="radio3{{$index}}">
                                    <i class="fa fa-calendar-o"></i>
                                </label>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* input {
        visibility: hidden;

    }

    label {
        cursor: pointer;
    }

    input:checked+label {
        background: red;
    } */

    input[type='radio'] {
        /* -webkit-appearance: none; */
        width: 5px;
        height: 20px;
        visibility: hidden;
    }

    input[type='radio']:checked+label {
        background: green;
    }
</style>