 <div class="row background">
  <div class="container">
      <h1>TimeTable Management</h1>
       <ul class="links">
          <li>
              <a ui-sref='main.classWise'>Class Wise</a>
          </li>
           <li>/
              <a ui-sref='main.schoolEvents'>Events</a>
          </li>
          <li>/
              <a ui-sref='main.onlineNoticeBoard'>Notice Board</a>
          </li>
      </ul>        
  </div>
 </div>
 <div class="container">
    <div class="row">
      <div class="onlinenoticeboard">
        <div class="col-md-6" ng-if="showRole(['admin'])">
          <div class="backwhite" >
           <h1>What happened?</h1>
        <div class="form-group">
                  
                    <div class="input-group" ng-show="showRole(['admin'])">
                      <span class="input-group-addon">Subject:</span>
                        <input class="form-control" ng-model="data.subject" placeholder="Write something"/>
                    </div>  <br>
                     <div class="input-group" ng-show="showRole(['admin'])">
                      <span class="input-group-addon">Message:</span>
                        <input class="form-control" ng-model="data.message" placeholder="Write something"/>
                    </div>                                                                                       
                                                          
                </div>
             
                  
                    <div class="box-footer" ng-if="showRole(['admin'])">
                      <button class="btn btn-primary pull-right" ng-click="addNoticeBoard(data);" ><span class="fa fa-share" ></span> SEND</button>
                    </div>
                 
               
         </div>
         </div>
         <div class="col-md-6"  style="top:50px; ">
            <h1 ng-show="showRole(['parent'])"><strong>Notice Board</h1>
           <div class="backwhite" style="overflow-y: scroll;height:370px;width:100%;" >
           <!-- <div class="pongal"> -->
                <div class="pongal" ng-repeat="board in NoticeBoardData"  >
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                 {{board.date}}
                </span>
                <button ng-show="showRole(['admin'])" style="margin-left:96%" class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteNoticeBoard($index)" ng-confirm-click="Are you sure you want to delete this item?"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </li>
            
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item"  >
                <span class="time">{{board.time}}</span>
 
                <h3 class="timeline-header">{{board.subject}}</h3>

                <div class="timeline-body">
                  {{board.messages}}
                </div>

              </div>
            </li>
          

          </ul>
        </div>
          
           <!-- <div class="Dussara">
             <p>Dussara</p>
             <p>happy pongal</p>
           </div>
           <div class="diwali">
             <p>Diwali</p>
             <p>Festival of Lights</p>
           </div> -->
        </div>
     </div>
    </div>
   </div>
  </div> 

