<!-- Logo -->

<a ui-sref="main.dashboard" class="logo">
  <div class="logo">
    <img src="../../../dist/img/images/school.png" style="height:60px;">
  </div>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown messages-menu">
        <a id="date" class="dropdown-toggle" data-toggle="dropdown">
        </a>
      </li>
      <li class="dropdown messages-menu">
        <a class="dropdown-toggle" data-toggle="dropdown">
          Academic Year 2017-2018
        </a>
      </li>
      <li class="dropdown user user-menu">
        <!--<a ng-click="logout()" class="dropdown-toggle" data-toggle="dropdown">-->
        <a ng-click="logout()" class="dropdown-toggle">
          <img ng-src="{{schoolImage}}" class="user-image" alt="User Image">
          <span class="hidden-xs">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    </div>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="navbar-collapse collapse" id="myNavbar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img ng-src="{{schoolImage}}" class="img-circle" alt="User Image">
          <p style="color:white;">{{schoolName}}
          </p>
        </div>
        <div class="pull-left info" style="color:white;">
          <p>{{role}} login</p>
          <a href="">
            <i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="nav navbar-nav">

        <li style="margin-left:-63px;">
          <div class="input-group" ng-if="role == 'parent'" style="width:100%;">
            <select name="studentSelection" ng-change="changeStudent(studentSelection)" class="form-control" data-ng-options="student._id as student.first_name for student in users  "
              ng-model="studentSelection">
              <option value="" selected>--Select Student--</option>
            </select>

          </div>

        </li>

        <li ui-sref-active="active">
          <a ui-sref='main.dashboard' class="hvr-pop transition">
            <!--<i class="fa fa-th-large" aria-hidden="true"></i>-->
            <img src="../../../dist/img/images/analytics.png" width="30px" height="30">
            <p>Dashboard</p>
          </a>
        </li>
        <li data-ng-if="setRole('parent')" ui-sref-active="active">
          <a ui-sref='main.studentProfile' class="hvr-pop transition">
            <!--<i class="fa fa-th-large" aria-hidden="true"></i>-->
            <img ng-src="{{studentPhoto}}" width="30px" height="30">
            <p>Student Profile</p>
          </a>
        </li>

        <li data-ng-if="setRole('admin')" ui-sref-active="active">
          <a ui-sref='main.addClass&Section' class="hvr-pop transition">

            <img src="../../../dist/img/images/administrator.png" width="30px" height="30">
            <p>Admin</p>
          </a>
        </li>

        <li data-ng-if="setRole('teacher') || setRole('admin')" ui-sref-active="active">
          <a ui-sref='main.student' class="hvr-pop transition">
            <img src="../../../dist/img//images/Student.png" width="30px" height="30">
            <p>Student</p>
          </a>
        </li>


        <li data-ng-if="setRole('admin')" ui-sref-active="active">
          <a ui-sref='main.employee' class="hvr-pop transition">
            <img src="../../../dist/img/images/staff.png" width="30px" height="30">
            <p>Staff</p>
          </a>
        </li>
        <li data-ng-if="setRole('teacher') || setRole('admin')" ui-sref-active="active">
          <a ui-sref='main.studentAttendance' class="hvr-pop transition">
            <img src="../../../dist/img/images/Attendance.png" width="30px" height="30">
            <p>Attendence</p>
          </a>
        </li>
        <li data-ng-if="setRole('parent')" ui-sref-active="active">
          <a ui-sref='main.attendenceListStudent' class="hvr-pop transition" ui-sref-active="active">
            <img src="../../../dist/img/images/Attendance.png" width="30px" height="30">
            <p>Attendence</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.subjects' class="hvr-pop transition">
            <img src="../../../dist/img/images/Academics.png" width="30px" height="30">
            <p>Acadamics</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.assignments' class="hvr-pop transition">
            <img src="../../../dist/img/images/Assignments.png" width="30px" height="30">
            <p>Assignments</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.examSchedules' class="hvr-pop transition">
            <img src="../../../dist/img/images/Examination.png" width="30px" height="30">
            <p>Examinations</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.classWise' class="hvr-pop transition">
            <img src="../../../dist/img/images/Timetable.png" width="30px" height="30">
            <p>Timetable</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.feeType' class="hvr-pop transition">
            <img src="../../../dist/img/images/money.png" width="30px" height="30">
            <p>Fee</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.addBook' class="hvr-pop transition">
            <img src="../../../dist/img/images/Library.png" width="30px" height="30">
            <p>Library</p>
          </a>
        </li>
        <li>
          <a ui-sref='main.addStation' class="hvr-pop transition">
            <img src="../../../dist/img/images/Transport.png" width="30px" height="30">
            <p>Transport</p>
          </a>
        </li>



        <!--<li class="treeview" ui-sref-active="active">
          <a ui-sref='main.dashboard'>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>-->
        <!-- Student Information -->
        <!--<li class="treeview" data-ng-if="setRole('teacher') || setRole('admin')">
      <a href="">
            <i class="fa fa-users"></i>
            <span>Student Information</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>-->
        <!--<ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref='main.student'><i class="fa fa-circle-o"></i> Students</a></li>
        <li ui-sref-active="active"><a ui-sref='main.studentAdmission'><i class="fa fa-circle-o"></i> Student Admission</a></li>-->
        <!--<li ui-sref-active="active"><a ui-sref='main.studentDetails'><i class="fa fa-circle-o"></i> Student Details</a></li>-->
        <!--</ul>
    </li>-->
        <!-- Staff Management -->
        <!--<li class="treeview" data-ng-if="setRole('admin')">
      <a href="">
            <i class="fa fa-users"></i>
            <span>Staff Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.employee'><i class="fa fa-circle-o"></i> Employee</a></li>
        <li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.employeeDetails'><i class="fa fa-circle-o"></i> Employee Details</a></li>-->
        <!--<li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.employeeAttendance'><i class="fa fa-circle-o"></i> Employee Attendance</a></li>-->
        <!--</ul>
    </li>-->
        <!-- Attendance -->
        <!--<li class="treeview">-->
        <!--<a href="">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <span>Attendance</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>-->
        <!--<ul class="treeview-menu">
        <li  ui-sref-active="active" data-ng-if="setRole('teacher') || setRole('admin')"><a ui-sref='main.studentAttendance'><i class="fa fa-circle-o"></i> Student Attendance</a></li>
        <li  ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.employeeAttendance'><i class="fa fa-circle-o"></i> Employee Attendance</a></li>

        <li class="treeview" >
          <a href="">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <span>Attendance Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li  ui-sref-active="active" ><a ui-sref='main.attendenceReports1'><i class="fa fa-circle-o"></i>Report1</a></li>
            <li  ui-sref-active="active" ><a ui-sref='main.attendenceReports2'><i class="fa fa-circle-o"></i>Report2</a></li>

          </ul>
        </li>
      </ul>-->
        <!--</li>-->
        <!-- Academics -->
        <!--<li class="treeview">
      <a href="">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <span>Academics</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
      <ul class="treeview-menu">
        <li  ui-sref-active="active"><a ui-sref='main.subjects'><i class="fa fa-circle-o"></i> Subjects</a></li>
        <li  ui-sref-active="active"><a ui-sref='main.chapters'><i class="fa fa-circle-o"></i> Chapters</a></li>
        <li  ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.assignSubjects'><i class="fa fa-circle-o"></i> Assign Subjects</a></li>
      </ul>
    </li>-->
        <!-- Assignments -->
        <!--<li class="treeview" ui-sref-active="active" data-ng-if="setRole('teacher') || setRole('admin')">
      <a ui-sref='main.assignments'>
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>Assignments</span>
          </a>
    </li>-->
        <!-- Examinations -->
        <!--<li class="treeview">-->
        <!--<a href="">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>Examinations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>-->
        <!--<ul class="treeview-menu">
        <li  ui-sref-active="active"><a ui-sref='main.examSchedules'><i class="fa fa-circle-o"></i>Exam Schedules</a></li>
        <li  ui-sref-active="active"><a ui-sref='main.examPapers'><i class="fa fa-circle-o"></i> Exam Papers</a></li>
        <li  ui-sref-active="active"><a ui-sref='main.evaluations'><i class="fa fa-circle-o"></i> Evaluations</a></li>
        <li class="treeview" >
          <a href="">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>Exam Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li  ui-sref-active="active" ><a ui-sref='main.examReports1'><i class="fa fa-circle-o"></i>BarChart1</a></li>
            <li  ui-sref-active="active" ><a ui-sref='main.examReports2'><i class="fa fa-circle-o"></i>BarChart2</a></li>
          </ul>
        </li>
      </ul>-->
        <!--</li>-->
        <!-- Timetable-->
        <!--<li data-ng-if="setRole('admin')">
      <a href="">
            <i class="fa fa-calendar"></i> <span>Timetable</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>              
            </span>
          </a>
      <ul class="treeview-menu">
        <li  ui-sref-active="active"><a ui-sref='main.classWise'><i class="fa fa-circle-o"></i> Class-wise</a></li>
        <li  ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.teacherWise'><i class="fa fa-circle-o"></i> Teacher-wise</a></li>
        <li  ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.schoolEvents'><i class="fa fa-circle-o"></i> School Events</a></li>
        <li  ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.onlineNoticeBoard'><i class="fa fa-circle-o"></i> Online NoticeBoard</a></li>
      </ul>
    </li>-->
        <!-- Library-->
        <!--<li>
  <a ui-sref='main.addBook' class="hvr-pop transition">
          
        <img src="../../../dist/img/Library.png" width="30px" height="30">
            <p>Library</p></a>-->
        <!--<i class="fa fa-book" aria-hidden="true"></i><a ui-sref='main.addBook'> <span>Library</span></a>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>-->

        <!--<ul class="treeview-menu">
        <!--<li data-ng-if="setRole('admin')"><a ui-sref='main.libraryRules'><i class="fa fa-circle-o"></i> Library rules</a></li>-->
        <!--<li  ui-sref-active="active" data-ng-if="setRole('admin') || setRole('teacher')"><a ui-sref='main.addBook'><i class="fa fa-circle-o"></i> Add Book</a></li>
        <li  ui-sref-active="active"><a ui-sref='main.bookList'><i class="fa fa-circle-o"></i> Book List</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!-- Transport-->
        <!--<li>
      <a href="">
            <i class="fa fa-bus" aria-hidden="true"></i> <span>Transport</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.addStation'><i class="fa fa-circle-o"></i> Add Station</a></li>
        <li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.addBusRoute'><i class="fa fa-circle-o"></i> Add Bus Route</a></li>
        <li ui-sref-active="active" data-ng-if="setRole('admin')"><a ui-sref='main.addVehicle'><i class="fa fa-circle-o"></i> Add Vehicle</a></li>
        <li ui-sref-active="active"><a ui-sref='main.routeGeolocation'><i class="fa fa-circle-o"></i> Route Geolocation</a></li>
      </ul>
    </li>-->
        <!-- -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </div>
</nav>