 <header class="main-header" ui-view='header'></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" ui-view='sidebar'></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ui-view></div>
  <!-- /.content-wrapper -->
  <footer class="main-footer" ui-view='footer'></footer>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>