<div class="row background">
  <div class="container">
    <h1>Staff Management</h1>
    <ul class="links">
      <li ui-sref-active="active">
        <a ui-sref="main.employee">Details</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin'])">
        /
        <a ui-sref="main.employeeDetails">Employment</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="staffemployment">
      <div class="col-md-12">
        <div class="backwhite">
          <h1>Employee Details</h1>
          <div class="box-header with-border">
            <ul class="panel-controls">
              <li>

                <div class="tooltip" style="margin-right: 615px;">
                  <!-- <label>Download Excel Format</label> -->
                  <button class="btn btn-primary pull-right">
                    <img src="../../../dist/img/images/xlsx6.png" data-ng-click="export()" class="img-responsive" width="30" height="30" alt="Responsive image">
                  </button>

                  <span ng-hide="excel" class="tooltiptext">Download Excel Format file</span>
                  <span ng-show="excel" class="tooltiptext">Downloading....</span>
                </div>

              </li>
               <li>
                <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)" />
              </li>
              <li>
                <input type="button" value="Import" class="btn btn-primary" ng-click="handleFile()" style="background-color: #03104e;border-color: #03104e;"
                />
              </li>

            </ul>
          </div>
          <form name="employeeDetails" ng-submit="employeeDetails.$valid && addEmployee(data);" novalidate>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.firstname.$invalid && employeeDetails.firstname.$pristine}">
                    <label>First Name</label>
                    <input type="text" ng-model="data.first_name" name="firstname" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.Surname.$invalid && employeeDetails.Surname.$pristine}">
                    <label>Surname</label>
                    <input type="text" class="form-control" name="Surname" ng-model="data.last_name" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.emailValue.$pristine||employeeDetails.emailValue.$error.pattern}">
                    <label>Email</label>
                    <input type="email" class="form-control" name="emailValue" ng-model="data.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                      placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted  && employeeDetails.Phone.$pristine||employeeDetails.Phone.$error.pattern}">
                    <label>Phone Number</label>
                    <input type="text" name="Phone" class="form-control" ng-model="data.phone" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" placeholder="Enter ...">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.dob.$invalid && employeeDetails.dob.$pristine}">
                    <label>Date of Birth</label>
                    <!--<input type="text" class="form-control pull-right" id="datepicker" ng-model="" placeholder="Select a Date ...">-->
                    <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                      <input class="form-control" name="dob" type="text" ng-model="data.dob" ng-readonly="true" placeholder="Enter ..." required/>
                    </datepicker>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.gender.$invalid && employeeDetails.gender.$pristine}">
                    <label>Gender</label>
                    <select name="gender" class="form-control select2" style="width: 100%;" ng-model="data.gender" required>
                      <option selected="selected">--Select--</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted  && employeeDetails.experience.$pristine}">
                    <label>Experience</label>
                    <input type="text" name="experience" class="form-control" ng-model="data.experience" placeholder="Enter ...">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.doj.$invalid && employeeDetails.doj.$pristine}">
                    <label>Date of Joining</label>
                    <datepicker date-min-limit='today1' date-format="dd-MM-yyyy" style="z-index:999">
                      <input class="form-control" name="doj" type="text" ng-model="data.joined_on" ng-readonly="true" placeholder="Enter ..." required/>
                    </datepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.bloodgroup.$pristine}">
                    <label>Blood Group</label>
                    <input type="text" ng-model="data.blood_group" name="bloodgroup" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.maritalStatus.$pristine}">
                    <label>Martial Status</label>
                    <input type="text" class="form-control" name="maritalStatus" ng-model="data.marital_status" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.basicPay.$pristine}">
                    <label>Basic Pay</label>
                    <input type="text" ng-model="data.basic_pay" name="basicPay" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.SalaryBand.$pristine}">
                    <label>Salary Band</label>
                    <input type="text" class="form-control" name="SalaryBand" ng-model="data.salary_band" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.mobile.$invalid && employeeDetails.mobile.$pristine}">
                    <label>mobile</label>
                    <input type="text" ng-model="data.mobile" name="mobile" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.perminent.$pristine}">
                    <label>Permenent city</label>
                    <input type="text" class="form-control" name="perminent" ng-model="data.perm_city" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.firstname.$pristine}">
                    <label>State</label>
                    <input type="text" ng-model="data.state" name="state" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.country.$pristine}">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" ng-model="data.country" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.postalcode.$pristine}">
                    <label>Postal Code</label>
                    <input type="text" ng-model="data.postal_code" name="postalcode" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.language.$pristine}">
                    <label>Spoken Languages</label>
                    <input type="text" class="form-control" name="language" ng-model="data.spoken_languages" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted  && employeeDetails.type.$pristine}">
                    <label>Employee Type</label>
                    <select name="type" class="form-control select2" ng-model="data.jobType" style="width: 100%;">
                      <option selected="selected">--Select--</option>
                      <option value="teaching">Teaching</option>
                      <option value="non-teaching">Non-Teaching</option>
                      <option value="administrative">Administrative</option>
                    </select>
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error': employeeDetails.$submitted && employeeDetails.academicQualification.$invalid && employeeDetails.academicQualification.$pristine}">
                    <label>Academic Qualification</label>
                    <select name="academicQualification" class="form-control select2" ng-model="data.qualification" style="width: 100%;" required>
                      <option selected="selected">--Select--</option>
                      <option>Pre-Bachelors</option>
                      <option>Bachelors degree</option>
                      <option>Masters degree</option>
                      <option>Post-Masters</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Employee Photo</label>
                    <input type="file" name="file" class="form-control" ng-model="data.profile_image" ngf-select ngf-pattern="'image/*'" accept="image/*"
                      ngf-max-size="20MB" onchange="angular.element(this).scope().loadImage(this.files)">
                  </div>
                </div>
              </div>

            </div>

            <div class="box-footer">
              <button ng-disabled="false" type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</div>