<div class="row background">
    <div class="container">
        <h1>Store Mangement</h1>
        <ul class="links">
            <li>
                <!-- <a ui-sref='main.addBook'>Addbook</a> -->
                <a ui-sref='main.store'>Vendor</a>
            </li>/
            <li>
                <a ui-sref='main.materialIn'>Material-In</a>
            </li>/
            <li>
                <a ui-sref='main.materialOut'>Material_out</a>
            </li>

        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="Addstation">
            <div class="col-md-3">
                <div class="backwhite">
                    <!-- <h1>Material In</h1> -->
                    <h1>Store Material </h1>
                    <form name="MaterialIn" ng-submit="MaterialIn.$valid && addsetMaterialIn(data)" novalidate>

                        <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted  && MaterialIn.materialName.$pristine}">
                            <label>Material</label>
                            <input name="materialName" type="text" ng-model="data.material" class="form-control" placeholder="Enter ..." required>
                        </div>



                        <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted  && MaterialIn.vendorName.$pristine}">
                            <label>Vendor Name</label>
                            <input name="vendorName" type="text" ng-model="data.vendor_name" class="form-control" placeholder="Enter ..." required>
                        </div>



                        <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted && MaterialIn.noofunits.$pristine}">
                            <label>No Of Units</label>
                            <input name="noofunits" type="text" ng-model="data.no_of_units" class="form-control" placeholder="Enter ..." required>
                        </div>

                        <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted && MaterialIn.price.$pristine}">
                            <label>Price</label>
                            <input name="price" type="text" ng-model="data.price" class="form-control" placeholder="Enter ..." required>
                        </div>

                        <!-- <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted && MaterialIn.purchased_date.$pristine}">
                            <label>Purchased_date</label>
                            <input name="purchased_date" type="text" ng-model="data.purchased_date" class="form-control" placeholder="Enter ..." required>
                        </div> -->


                        <div class="form-group" ng-class="{'has-error': MaterialIn.$submitted && MaterialIn.purchased_date.$pristine}">
                            <label>Purchased_date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                                    <input class="form-control" name="purchased_date" type="text" ng-model="data.purchased_date" ng-readonly="true" placeholder="Enter ..."
                                        required/>
                                </datepicker>
                            </div>
                        </div>



                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right" style="background-color: #03104e;border-color: #03104e;">Add Material In</button>
                        </div>

                    </form>






                </div>
            </div>
            <div class="col-md-9">
                <div class="backwhite">
                    <h1>Material-In List</h1>
                    <div class="table-responsive">
                    <table export-table st-table="display_records" st-safe-src="materialIn"  style="width:100%">
                        <tr>
                            <th>#</th>
                            <th>Material</th>
                            <th>Vendor</th>
                            <th>No of units</th>
                            <th>Price</th>
                            <th>Purchased_date</th>
                            <th class="pull-right">Action</th>
                        </tr>
                        <tbody>
                            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="material in display_records" class="editable-row">
                                <td>
                                    {{material.id+1}}
                                </td>
                                <td>
                                    <span editable-text="material.material" e-name="editdata.material" onaftersave="EditMaterialIn(material.id)" e-form="rowform"
                                        e-required>{{material.material || 'empty' }}</span>
                                </td>
                                <td>
                                    <span editable-text="material.vendor_name" e-name="editdata.vendor_name" onaftersave="EditMaterialIn(material.id)" e-form="rowform"
                                        e-required>{{material.vendor_name || 'empty' }}</span>
                                </td>
                                <td>
                                    <span editable-text="material.no_of_units" e-name="editdata.no_of_units" onaftersave="EditMaterialIn(material.id)" e-form="rowform"
                                        e-required>{{material.no_of_units || 'empty' }}</span>
                                </td>
                                <td>
                                    <span editable-text="material.price" e-name="editdata.price" onaftersave="EditMaterialIn(material.id)" e-form="rowform" e-required>{{material.price || 'empty' }}</span>
                                </td>
                                <td>
                                    <span editable-text="material.purchased_date" e-name="editdata.purchased_date" onaftersave="EditMaterialIn(material.id)"
                                        e-form="rowform" e-required>{{material.purchased_date || 'empty' }}</span>
                                </td>


                                <td class="pull-right">
                                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == material">
                                        <button type="submit" ng-click="EditMaterialIn(material.id)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </form>

                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteMaterialIn(material.id)" ng-confirm-click="Are you sure you want to delete this item?">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="pull-right" st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>