<div class="row background">
    <div class="container">
        <h1>Admin Management</h1>
        <ul class="links">
            <li ui-sref-active="active">
                <a ui-sref='main.messages'>Messages</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="msgbox">
        <div class="col-md-12">
            <div class="backwhite">
                <div class="table-responsive">
                    <table style="width:100%;margin-top: 20px;">
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>send on</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>