
    <section class="content-header">
      <h1>
        <i class="fa fa-book"></i>
        Library
        <small>Rules</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Library</li>
        <li class="active">Rules</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->
        <div class="box box-default">
            <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                <h3 class="box-title">Library Rules</h3>
            </div>
            <div class="box-body">  
              <div class="row">
                  <div class="col-md-10" ng-if="showRole(['admin','teacher'])">
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>  
              </div>
              <div class="row">
                    <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
                        <button type="submit" class="btn btn-primary pull-right">Add Rule</button>
                    </div> 
              </div>
              <div class="tab-content">
                <div class="tab-pane table-responsive no-padding active" id="tab_1">
                  <table class="table table-striped">
                    <thead>
                     <tr>
                      <th>#</th>
                      <th>Rule</th>
                      <th class="pull-right">Action</th>
                     </tr>
                     <tr>
                      <td>1</td>
                      <td>A Rule is a Rule for Rule is a Rule</td>
                      <td class="pull-right">
                        <a href="" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" title="Edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="" class="btn btn-default btn-xs" data-toggle="tooltip" title="Delete">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                     </tr>

                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>                       
              </div>
            </div>
        </div>
    </section>
 

 <!--Edit values modal Starts here-->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form name="employeeDetails" ng-submit="addEmployee(data)" novalidate>
         <div class="modal-header">
            <h3>Edit Rules</h3>
        </div>
        <div class="modal-body">
       
        <!-- /.box-header -->
         <!-- /.box-header -->
            <div class="row">
                  <div class="col-md-10">
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>  
              </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Rule</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
        
        </div>
       
     </form>
      </div>
    </div>
  </div>
