<!-- <div style="overflow-y: scroll;height:660px;width:100%;"> -->
<div class="row background">
  <div class="container">
    <h1>Dashboard</h1>
  </div>
</div>


<div class="container">
  <div class="calander">
    <div class="col-md-12">
      <!-- <div class="col-md-4">
        <div class="calander">
          <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
          </ul>
          <ul class="days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>
              <span class="active">10</span>
            </li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="col-md-4" id="quote">
        <div class="quote">
          <h1>Quote for the day</h1>
        </div>
        <div class="word">
          <h1>word for the day</h1>
        </div>
      </div> -->
      <div class="col-md-4" id="queries">
        <div class="queries">
          <div class="queriey1">
            <div class="circulardiv" style="text-align:center">
              <h1>{{0}}</h1>
            </div>
            <div class="queh1">
              <h1>Queries</h1>
            </div>
          </div>
          <div class="queriey1">
            <div class="circulardiv" style="text-align:center">
              <h1>{{studentCountNew}}</h1>
            </div>
            <div class="queh1">
              <h1>New Admissions</h1>
            </div>
          </div>
          <div class="queriey1">
            <div class="circulardiv" style="text-align:center">
              <h1>{{studentCount}}</h1>
            </div>
            <div class="queh1">
              <h1>Total Students</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-8">
        <div class="box box-primary" style="background-color: #568dadcf; border-radius: 15px;border:none">
          <div class="box-header with-border btn-primary" style="background-color: #568dadcf; border-radius: 15px;border:none">
            <h3 class="box-title">Task Manager</h3>

            
          </div>


          <div class="box-body chart-responsive">
            <div class="chart chart-responsive" style="height: 138px;">

              <div class="tab-pane no-padding" id="taskManager">


                <div class="tab-content">
                  <div class="table-responsive mailbox-messages" style="overflow-y: scroll;height:137px;">

                    <table class="table rwd-table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Task</th>
                          <th>Priority</th>                   
                          <th>Due</th>
                          <th>Assigned</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="task in taskData" class="editable-row">
                          <td>
                            {{task.id+1}}
                          </td>
                          <td>{{task.task || 'empty' }}

                          </td>
                          <td>
                            {{task.priority || 'empty' }}

                          </td>
                         
                          <td>{{task.assigned_on | date }}

                          </td>
                          <td>{{task.assigned_to || 'empty' }}

                          </td>
                          <td>{{task.status || 'empty' }}

                          </td>

                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
             
            </div>
          </div> -->
        <!-- </div>
      </div> -->
     <div class="col-md-8" id="quo">
        <div class="backwhite">
          <div class="staff" ng-repeat="quote in quotes">
            <form name="Quote" ng-submit="Quote.$valid && addQuote(data)" novalidate>
              <div class="form-group" ng-class="{'has-error': Quote.$submitted  && Quote.quote.$pristine}">
                <label>Quote</label>
                <div>
                  <b>"</b>{{quote.quote}}
                  <b>"</b>
                  <span class="pull-right" style="float:clear;color:#b93809">~ {{quote.quoteWritten}}</span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': Quote.$submitted  && Quote.word.$pristine}">
                <label>Word</label>
                <div>
                  <b>"</b>{{quote.word}}
                  <b>"</b>
                  <span class="pull-right" style="float:clear;color:#b93809">~ {{quote.wordWritten}}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Circulam">
    <div class="col-md-12" style="margin-top: 0px"> 
      <div class="classalign" style="background-color: #c1969c;
    
      border-radius: 15px 15px 0 0;
      width: 99%;">
        <h1 style="font-family: 'Source Sans Pro',sans-serif;">Curriculum for the Day :</h1>

        <div class="col-md-10" style="margin-bottom:1%">
          <button id="btn_class" class="btn btn-primary btn-responsive" ng-repeat="class in classDatanew" ng-click="populateSections(class.class_id);getTimeTableDay(class.class_id)"
            ng-disabled="!isDisabled">{{class.name}}</button>

          <script>
            $("#btn_class").click(function () {
              $("#btn_class").addClass('button-clicked');
            });
          </script>
        </div>
      </div>

      <div class="table table-responsive" style="width:99%; background-color: #568dadcf;height:auto;    border-radius:0 0 15px 15px;">

        <table>
          <tr>
            <th style="padding-left:40px;">Time</th>
            <th style="padding-left:40px;" class="col-md-1" ng-repeat="sections in secData">{{sections.name}}</th>

          </tr>
          <tr ng-repeat="timetable in timeTableData">
            <th style="padding-left: 35px;width:185px;">
              <div class="attachment-block clearfix">
                <strong class="text-blue">{{timetable.session}}({{timetable.start_time}}-{{timetable.end_time}})</strong>
              </div>
            </th>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.I}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.II}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.III }}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.IV }}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.V}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.VI }}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.VII}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.VIII}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.IX}}</strong>
            </td>
            <td class="text text-center">
              <strong class="text-blue">{{timetable.data.X}}</strong>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
  <div class="attendancetaken" style="width: 96%;margin-left: 16px;border:none">
    <div class="col-md-12" style="margin-top: 12px;">
      <h3>Student Attendance Report</h3>
      <div class="backwhite" ng-repeat="data1 in schoolAttData">
        <div class="table-responsive">
     
          <div class="col-md-1" style="color:black">
            <table class="table-responsive">
              <thead>
                <tr>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding:none;">{{data1[0].className}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <table>
            <tr>

              <th class="col-md-1" ng-repeat="sectionData1 in data1[0].sections ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sectionData1[0].sectionName}}



                <div class="progress">
                  <div class="progress-bar progress-bar-success" ng-style="{width:(sectionData1[0].attendance.presentPercent)}">
                    P:{{sectionData1[0].attendance.present}}/{{sectionData1[0].attendance.present+sectionData1[0].attendance.absent+sectionData1[0].attendance.onLeave}}
                  </div>
                  <div class="progress-bar progress-bar-warning" ng-style="{width:(sectionData1[0].attendance.onLeavePercent)}">
                    L:{{sectionData1[0].attendance.onLeave}}/{{sectionData1[0].attendance.present+sectionData1[0].attendance.absent+sectionData1[0].attendance.onLeave}}
                  </div>
                  <div class="progress-bar progress-bar-danger" ng-style="{width:(sectionData1[0].attendance.absentPercent)}">
                    A:{{sectionData1[0].attendance.absent}}/{{sectionData1[0].attendance.present+sectionData1[0].attendance.absent+sectionData1[0].attendance.onLeave}}
                  </div>
                </div>
              </th>


            </tr>



          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="staff">
    <div class="col-md-12">
      <!-- <div class="backwhite"> -->
      <div class="col-md-6" id="staff1">
        <div class="staff">
          <div class="backwhite">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Class</th>
                    <th>Staff Attendance Report</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Teaching</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" ng-style="{width:(presentPercentageTeacher)}">
                          P:{{present}}/{{count}}
                        </div>
                        <div class="progress-bar progress-bar-warning" ng-style="{width:(leavePercentageTeacher)}">
                          L:{{leave}}/{{count}}
                        </div>
                        <div class="progress-bar progress-bar-danger" ng-style="{width:(absentPercentageTeacher)}">
                          A:{{absent}}/{{count}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Non-Teaching</td>

                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" ng-style="{width:(presentPercentageNonTeacher)}">
                          P:{{presentNonTeacher}}/{{countNonTeacher}}
                        </div>
                        <div class="progress-bar progress-bar-warning" ng-style="{width:(leavePercentageNonTeacher)}">
                          L:{{leaveNonTeacher}}/{{countNonTeacher}}
                        </div>
                        <div class="progress-bar progress-bar-danger" ng-style="{width:(absentPercentageNonTeacher)}">
                          A:{{absentNonTeacher}}/{{countNonTeacher}}
                        </div>
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>Administration</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" ng-style="{width:(presentPercentageAdmin)}">
                          P:{{presentAdmin}}/{{countAdmin}}
                        </div>
                        <div class="progress-bar progress-bar-warning" ng-style="{width:(leavePercentageAdmin)}">
                          L:{{leaveAdmin}}/{{countAdmin}}
                        </div>
                        <div class="progress-bar progress-bar-danger" ng-style="{width:(absentPercentageAdmin)}">
                          A:{{absentAdmin}}/{{countAdmin}}
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
        <!-- <div class="col-md-6" id="quo">
        <div class="backwhite">
          <div class="staff" ng-repeat="quote in quotes">

            <form name="Quote" ng-submit="Quote.$valid && addQuote(data)" novalidate>
              <div class="form-group" ng-class="{'has-error': Quote.$submitted  && Quote.quote.$pristine}">
                <label>Quote</label>

                <div>
                  <b>"</b>{{quote.quote}}
                  <b>"</b>
                  <span class="pull-right" style="float:clear;color:#b93809">~ {{quote.quoteWritten}}</span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': Quote.$submitted  && Quote.word.$pristine}">
                <label>Word</label>

                <div>
                  <b>"</b>{{quote.word}}
                  <b>"</b>
                  <span class="pull-right" style="float:clear;color:#b93809">~ {{quote.wordWritten}}</span>
                </div>

              </div>
            </form>
          </div>
        </div>

      </div>-->
       <div class="col-md-6">
        <div class="box box-primary" style="background-color: #568dadcf; border-radius: 15px;border:none;height:240px";>
          <div class="box-header with-border btn-primary" style="background-color: #568dadcf; border-radius: 15px;padding:20px 10px;border:none">
            <h3 class="box-title">Task Manager</h3>
          </div>
          <div class="box-body chart-responsive">
            <div class="chart chart-responsive" style="height: 150px;">

              <div class="tab-pane no-padding" id="taskManager">


                <div class="tab-content">
                  <div class="table-responsive mailbox-messages" style="overflow-y: scroll;height:150px;">

                    <table style="width:100%";>
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Task</th>
                          <th>Priority</th>                   
                          <th>Due</th>
                          <th>Assigned</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="task in taskData" class="editable-row">
                          <td>
                            {{task.id+1}}
                          </td>
                          <td>{{task.task || 'empty' }}

                          </td>
                          <td>
                            {{task.priority || 'empty' }}

                          </td>
                         
                          <td>{{task.assigned_on | date }}

                          </td>
                          <td>{{task.assigned_to || 'empty' }}

                          </td>
                          <td>{{task.status || 'empty' }}

                          </td>

                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
             
            </div>
          </div>
    </div>
  </div>


  <div class="staff">
    <div class="col-md-12" >
      <div class="backwhite">

        <div class="col-md-6" id="cal" style="background-color:  #c1969c;border-radius:25px;">
          <div class="calander">
          

            <div class="span8">
              <tabset>

                <tab select="renderCalendar('myCalendar3');">
                  <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                </tab>
              </tabset>
            </div>

          </div>
        </div>

        <div class="col-md-6" id="cal" style="height:360px;border-radius:25px;margin-left:2%;border:1px solid grey">
          <div class="noticeboard">
            <h1>Notices</h1>
            <div class="backwhite">
              <div class="pongal" ng-repeat="board in NoticeBoardData">
                <!-- The time line -->
                <ul class="timeline">
                  <!-- timeline time label -->
                  <li class="time-label">
                    <span class="bg-red">
                      {{board.date}}
                    </span>
                    <button ng-show="showRole(['admin'])" style="margin-left:96%" class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteNoticeBoard($index)"
                      ng-confirm-click="Are you sure you want to delete this item?">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </li>

                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time">{{board.time}}</span>

                      <h3 class="timeline-header">{{board.subject}}</h3>

                      <div class="timeline-body">
                        {{board.messages}}
                      </div>

                    </div>
                  </li>


                </ul>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="acadamic_report">
    <div class="col-md-12" style="background-color:  #568dadcf;
   margin-top:20px;
    border-radius: 15px;
    width: 96%;
    margin-left: 16px;">
      <h1>Acadamic Report</h1>
      <div class="table table-responsive">
        <div style="overflow-x:auto;">
          <table style="width:100%;margin-top: 20px;">
            <tr>
              <th>I</th>
              <th>II</th>
              <th>III</th>
              <th>IV</th>
              <th>V</th>
              <th>VI</th>
              <th>VII</th>
              <th>VIII</th>
              <th>IX</th>
              <th>X</th>
            </tr>
            <tr>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="grafico">
                  <div class="sombra"></div>
                  <div id="porcion1" class="recorte">
                    <div class="quesito" data-rel="A+"></div>
                  </div>
                  <div id="porcion2" class="recorte">
                    <div class="quesito" data-rel="A"></div>
                  </div>
                  <div id="porcion3" class="recorte">
                    <div class="quesito" data-rel="C"></div>
                  </div>
                  <div id="porcionFin" class="recorte">
                    <div class="quesito" data-rel="B"></div>
                  </div>
                  <div id="porcionFan" class="recorte">
                    <div class="quesito" data-rel="B+"></div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<!-- </div> -->
<script>
  $(function () {
    $('td').click(function () {
      $(this).toggleClass('on');
    })
  }); 
</script>




<!--<section class="content">

    
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border btn-primary">
            <h3 class="box-title">Events&NoticeBoard</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-info btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <button type="button" class="btn btn-danger btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>


          <div class="box-body chart-responsive">
            <div class="chart chart-responsive" style="height: 400px;">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-target="#events_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Events</a></li>
                  <li class=""><a data-target="#noticeBoard_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>NoticeBoard</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane no-padding active" id="events_1">


                  <div class="box box-solid ">

                    <div class="box-body border-radius-none">
                      <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                    </div>
                  </div>


                </div>
                <div class="tab-pane no-padding" id="noticeBoard_2">


                  <div class="box box-solid ">
                    <div class="box-header">
                      <i class="fa fa-inbox pull-left"></i>

                      <h3 class="box-title">
                        Notices
                      </h3>
                    </div>
                    <div class="box-body border-radius-none" style="overflow-y: scroll;height:337px;">


                      <div class="row">
                        <div class="col-md-12" ng-repeat="board in NoticeBoardData">

                          <ul class="timeline">

                            <li class="time-label">
                              <span class="bg-red">
                 {{board.date}}
                </span>
                            </li>

                            <li>
                              <i class="fa fa-envelope bg-blue"></i>

                              <div class="timeline-item">

                                <span class="time">{{board.time}}</span>
                                <h3 class="timeline-header">{{board.subject}}</h3>

                                <div class="timeline-body">
                                  {{board.messages}}
                                </div>

                              </div>
                            </li>


                          </ul>
                        </div>

                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border btn-primary">
            <h3 class="box-title">Messages&TaskManager</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-info btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <button type="button" class="btn btn-danger btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>


          <div class="box-body chart-responsive">
            <div class="chart chart-responsive" style="height: 400px;">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-target="#messages" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Messages</a></li>
                  <li class=""><a data-target="#taskManager" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Task Manager</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane no-padding active" id="messages">

                  <form action="#" method="post" style="margin-top:50px;">
                    <div class="form-group">
                      <input type="email" class="form-control" name="emailto" placeholder="Message to:">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                    <div>
                      <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>


                    <div class="box-footer clearfix">
                      <button type="button" class="pull-right btn btn-default" id="sendEmail">Send
                <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                  </form>


                </div>
                <div class="tab-pane no-padding" id="taskManager">


                  <div class="tab-content">
                    <div class="table-responsive mailbox-messages" style="overflow-y: scroll;height:375px;">

                      <table class="table rwd-table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Subject</th>
                            <th>Due</th>
                            <th>Assigned</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="attendance in attDataEmp" class="editable-row">
                            <td>
                              {{$index+1}}
                            </td>
                            <td>{{attendance.employee_id || 'empty' }}

                            </td>
                            <td>
                              {{attendance.first_name || 'empty' }} {{attendance.last_name || 'empty' }}

                            </td>
                            <td>{{attendance.employee_type || 'empty' }}</td>
                            <td>{{attendance.gender || 'empty' }}

                            </td>
                            <td>{{attendance.status || 'empty' }}

                            </td>

                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>-->

<!--AdminLTE dashboard demo (This is only for demo purposes) -->