<section class="content-header">
    <h1>
        <i class="fa fa-calendar"></i> Timetable
        <small>Teacher-wise</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Timetable</li>
        <li class="active">Teacher-wise</li>
    </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
    <!-- Select Criteria -->

    <div class="box box-default">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> View Timetable </a></li>
            </ul>
        </div>


        <div class="box-body">
            <div class="tab-content">
                <div class="tab-pane no-padding active" id="tab_1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Class</label>
                                <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Section</label>
                                <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Section A</option>
                        <option>Section B</option>
                        <option>Section C</option>
                        <option>Section D</option>
                      </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">Select</button>
                            <li style="float:left;list-style-type:none;"><button type="button" data-ng-click="exportAction('excel')" class="btn btn-primary pull-left">Save as Excel</button></li>
                            <li style="float:left;list-style-type:none;"><button type="button" data-ng-click="exportAction('pdf')" class="btn btn-primary pull-left">Save as PDF</button></li>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <table export-table class="table">
                        <thead>
                            <tr>
                                <th>Time </th>
                                <th class="text text-center">
                                    Monday
                                </th>
                                <th class="text text-center">
                                    Tuesday
                                </th>
                                <th class="text text-center">
                                    Wednesday
                                </th>
                                <th class="text text-center">
                                    Thursday
                                </th>
                                <th class="text text-center">
                                    Friday
                                </th>
                                <th class="text text-center">
                                    Saturday
                                </th>
                                <th class="text text-center">
                                    Sunday
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">09:00 A.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">10:00 A.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-1</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">10:00 A.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">11:00 A.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-2</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">11:00 A.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">12:00 A.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-3</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">12:00 A.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">01:00 P.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-4</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">02:00 P.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">03:00 P.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-5</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="attachment-block clearfix">
                                        <strong class="text-blue">03:00 P.M.</strong>
                                        <b class="text text-center">-</b>
                                        <strong class="text-blue">04:00 P.M.</strong>
                                    </div>
                                </th>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td class="text text-center">
                                    <strong class="text-blue">Subject-6</strong>
                                </td>
                                <td><strong class="text-blue">Holiday</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>