<head>


    <link rel="stylesheet" href="../../../dist/login/web/css/style.css" type="text/css" media="all" />


    <link rel="stylesheet" href="../../../dist/login/web/css/font-awesome.css">


</head>

<body>
    <div class="regback">
        <div id="logo">
            <img src="../../../dist/login/web/images/login.png" class="img-responsive" alt="" width="150" height="150">
        </div>
        <div class="container">
            <div class="login">
                <div class="row">
                    <div class="col-md-12 textContainer">
                        <!-- <h2>PROSCHOOL LOGIN</h2> -->
                        <img src="../../../dist/img/proSchool.png" class="img-responsive" alt="" width="150" height="150">
                    </div>
                </div>
                <form name=loginform ng-submit="loginform.$valid && login(datab)" novalidate>
                    <div class="input-group" ng-class="{'has-error': loginform.$submitted  && loginform.mail.$pristine}">
                        <span style="color:red;margin-left:33px;"  ng-show=" loginform.$submitted && loginform.mail.$dirty && loginform.mail.$error.required">username is required</span>
                        <i class="glyphicon glyphicon-user"></i>
                        <input class="input-lg"  ng-model="datab.username"
                             placeholder="Username" name="mail" type="text" required>
                             
                    </div>
                   
                    <div class="input-group" ng-class="{'has-error': loginform.$submitted  && loginform.passsword.$pristine}">
                        <span style="color:red;margin-left:33px;" ng-show=" loginform.$submitted && loginform.passsword.$dirty && loginform.passsword.$error.required">passsword is required</span>
                        <i class="glyphicon glyphicon-lock"></i>
                        <input class="input-lg"  ng-model="datab.password"
                            name="passsword" placeholder="Password"  type="password" required>
                           
                    </div>
                    <input type="checkbox" id="checkbox">
                    <span>Remember me</span>
                    <span id="right">Forgot Password</span>
                    <div class="butt">
                        <button class="btn btn-primary" type="submit">Login </button>
                        <a href="../../../dist/login/web/query.html">
                            <button class="btn btn-primary" type="button">Query </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../dist/login/web/js/jquery-2.1.4.min.js"></script>

</body>