<section class="content-header">
    <h1>
        <i class="fa fa-bus"></i> Student Attendance
        <small>Attendance Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Student Attendance</li>
        <li class="active">Attendance Report</li>
    </ol>
</section>

<section class="content">
    <!-- Select Criteria -->
    <div class="box box-default">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Report By Day </a></li>
                <li class=""><a data-target="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Report By Month </a></li>
            </ul>
        </div>

        <div class="box-body">
            <div class="tab-content">
                <div class="tab-pane no-padding active" id="tab_1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Class</label>
                                <select class="form-control select2" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId" ng-options="classData.class_id as classData.name for classData in classDatanew ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
                      </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Section</label>
                                <select class="form-control select2" style="width: 100%;" ng-model="secId" ng-options="sectionData.section_id as sectionData.name for sectionData in secData ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                        
                      </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Date</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <!--<input type="text"  ng-model="data.due_date" class="form-control pull-right" id="datepicker">-->
                                    <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="yyyy-MM-dd" style="z-index:999">
                                        <input class="form-control" name="selectDate" type="text" ng-model="select_date" ng-readonly="true" placeholder="Enter ..."
                                            required/>
                                    </datepicker>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <button type="submit" ng-click="getAttendenceByDay(select_date,classId,secId)" class="btn btn-primary pull-right">Select</button>
                            <li style="list-style-type:none;"><button type="button" pdf-save-button="idOneGraph" pdf-name="bookList.pdf" class="btn btn-primary pull-left">Save as PDF</button></li>
                        </div>

                        <!--<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                </canvas>-->

                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="tab-content">
                                <div class="table-responsive mailbox-messages">

                                   
                                    <div class="box box-success" style="margin-top:10px">

                                        <div class="box-header with-border">
                                            <h3 class="box-title">Donut Chart</h3>

                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body" pdf-save-content="idOneGraph">
                                            <div class="chart" style="margin-left:130px">
                                                <zingchart id="myChart" zc-values="chartdata" zc-json="myJson" zc-height=400 zc-width=100%></zingchart>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="tab-pane no-padding" id="tab_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Class</label>
                                <select class="form-control select2" name="classId" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId"
                                    ng-options="classData.class_id as classData.name for classData in classDatanew ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
                      </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Section</label>
                                <select class="form-control select2" name="sectionId" data-ng-change="getStudentValue(secId)" style="width: 100%;" ng-model="secId"
                                    ng-options="sectionData.section_id as sectionData.name for sectionData in secData ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                        
                      </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Student</label>
                                <select class="form-control select2" style="width: 100%;" ng-model="studentId" ng-options="studentData.student_id as studentData.first_name for studentData in students ">
                            <!--<option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>-->
                        </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Month</label>
                                <select name="month" class="form-control select2" style="width: 100%;" ng-model="select_month" ng-options="monthData.id as monthData.name for monthData in months ">
                            <!--<option selected="selected">--Select--</option>
                            <option ng-repeat="month in months " value="{{month.id}}">{{month.name}}</option>-->
                        </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-right" ng-click="getAttendenceByMonth(select_month,studentId)">Select</button>
                            <li style="list-style-type:none;"><button type="button" pdf-save-button="idOneGraph" pdf-name="bookList.pdf" class="btn btn-primary pull-left">Save as PDF</button></li>
                        </div>
                        <!--<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                </canvas>-->

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="tab-content">
                                <div class="table-responsive mailbox-messages">
                                   
                                    <div class="box box-success" style="margin-top:10px">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Donut Chart</h3>

                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body" pdf-save-content="idOneGraph">
                                            <div class="chart" style="margin-left:130px">
                                                <!--<div id='myChart'></div>-->
                                                <zingchart id="myChartMonth" zc-values="chartdataMonth" zc-json="myJsonMonth" zc-height=400 zc-width=100%></zingchart>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>