<section class="content-header">
  <h1>
    <i class="fa fa-file-text"></i> Examinations
    <small>Evaluations</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li>Examinations</li>
    <li class="active">Evaluations</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->

  <div class="box box-default">
    <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
      <!-- <i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3> -->
      <!-- <ul class="panel-controls">
        <li>
          <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)"
          />
        </li>
        <li>
          <input type="button" value="Import" class="btn btn-primary" ng-click="handleFile()" />
        </li>

      </ul> -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Select Class</label>
            <select class="form-control select2" data-ng-change="populateSections(data.classId)" style="width: 100%;" ng-model="data.classId"
              ng-options="class.class_id as class.name  for class in classDatanew">

              <!--<option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
            </select>
          </div>
        </div>

        <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Select Section</label>
            <select class="form-control select2" ng-change="populateStudentValue(data.secId);getExamPapers(data.examSchedule_name,data.secId);"
              style="width: 100%;" name="section" ng-model="data.secId" ng-options="sec.section_id as sec.name  for sec in secData">
              <!--                      
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->

            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-if="showRole(['admin','teacher'])">
            <label>Select Student </label>
            <select class="form-control select2" style="width: 100%;" name="studentId" ng-change="getEvaluation(data.studentId,data.examSchedule_name)"
              ng-model="data.studentId" ng-options="student.student_id as student.first_name+' '+student.last_name for student in students ">
              <!--<option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>-->
            </select>
          </div>
        </div>





      </div>
      <div class="row">
        <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
          <button type="button" ng-click="" class="btn btn-primary pull-right">Select</button>
        </div>
      </div>

      <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <h3 class="box-title">Add Marks</h3>
      </div>
      <form name="evaluations" ng-submit="evaluations.$valid && addEvaluation(data)" novalidate>

        <div class="row">
          <!--<div class="col-md-4" ng-if="showRole(['admin','teacher','parent'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.Subject.$pristine}">
              <label>Select Subject</label>
              <select ng-change="getEvaluation(paperId ,studentId)" class="form-control select2" data-ng-change="populatePapers(subjectId)"
                style="width: 100%;" name="Subject" ng-model="data.subject_name" ng-options="subData.subject_id as subData.name for subData in subjectsData ">
                            
                        </select>
            </div>
          </div>-->
          <div class="col-md-4" ng-if="showRole(['admin','teacher','parent'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.examSchedule.$pristine}">
              <label>Select Exam Schedule</label>
              <select class="form-control select2" ng-change="getExamPapers(data.examSchedule_name,data.secId)" style="width: 100%;" ng-model="data.examSchedule_name"
                name="examSchedule" ng-options="examSch.exam_sch_id as examSch.exam_title for examSch in examSchedule ">
                <!--<option selected="selected">--Select--</option>
                        <option ng-repeat="exam in examSchedule " value="{{exam.exam_title}}">{{exam.exam_title}}</option>-->

              </select>
            </div>
          </div>

          <div class="col-md-4" ng-if="showRole(['admin','teacher','parent'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.paperId.$pristine}">
              <label>Paper Title </label>
              <select class="form-control select2" style="width: 100%;" name="paperId" ng-model="data.paper_name" ng-options="paper.exam_paper_id as paper.exam_paper_title for paper in papers ">
                <!--<option value="">--Select--</option>
                            <option ng-repeat="paper in papers " value="{{paper.exam_paper_id}}">{{paper.exam_paper_title}}</option>-->

              </select>
            </div>
          </div>



        </div>
        <div class="row">
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.marksObtained.$pristine}">
              <label>Marks obtained</label>
              <input name="marksObtained" type="text" ng-model="data.marks" class="form-control" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.marksPercentage.$pristine}">
              <label>Marks Percentage</label>
              <input name="marksPercentage" type="text" ng-model="data.percentage" class="form-control" placeholder="Enter ...">
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.conduct.$pristine}">
              <label>Conduct</label>
              <select name="conduct" ng-model="data.conduct" class="form-control select2" style="width: 100%;">
                <option selected="selected">--Select--</option>
                <option>Poor</option>
                <option>Below Average</option>
                <option>Average</option>
                <option>Above Average</option>
                <option>Good</option>
                <option>Excellent</option>
              </select>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
            <button type="submit" class="btn btn-primary pull-right">Add Marks</button>
          </div>
        </div>
      </form>
    </div>


  </div>

  <!-- /.content -->

  <!-- Content List -->
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <h3 class="box-title">Exam Marks</h3>
      <li style="float:right;list-style-type:none;">
        <button type="button" data-ng-click="exportAction('excel')" class="btn btn-primary pull-right">Save as Excel</button>
      </li>
      <li style="float:right;list-style-type:none;">
        <button type="button" data-ng-click="exportAction('pdf')" class="btn btn-primary pull-right">Save as PDF</button>
      </li>
    </div>
    <div class="box-body">
      <div class="tab-content">
        <div class="tab-pane table-responsive no-padding active" id="tab_1">
          <table export-table st-table="display_records" st-safe-src="evalData" class="table rwd-table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Student</th>
                <th>Examination Title</th>
                <!--<th>Subject</th>-->
                <th>Paper Title</th>
                <th>Marks obtained</th>
                <th>Percentage</th>
                <th>Conduct</th>
                <th class="pull-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="evaluations in display_records" class="editable-row">
                <td>{{$index+1}}</td>
                <td>
                  <!--<span editable-text="evaluations.student_name" e-name="evaluations.student_name" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>-->
                  {{evaluations.first_name || 'empty'}} {{evaluations.last_name || 'empty'}}</td>
                <td>
                  <!--<span editable-text="evaluations.examschedule_name" e-name="evaluations.examschedule_name" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>-->
                  {{evaluations.examschedule_name || 'empty' }}</td>
                <!--<td><span editable-text="evaluations.examschedule_name" e-name="evaluations.exam_paper_title" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>{{evaluations.subject_name || 'empty' }}</span></td>-->
                <td>
                  <!--<span editable-text="evaluations.paper_name" e-name="evaluations.paper_name" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>-->
                  {{evaluations.paper_name || 'empty' }}</td>
                <td>
                  <span editable-text="evaluations.marks" e-name="evaluations.marks" onaftersave="EditEvaluation($index)" e-form="rowform"
                    e-required>{{evaluations.marks || 'empty' }}</span>
                </td>
                <td>
                  <span editable-text="evaluations.percentage" e-name="evaluations.percentage" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>{{evaluations.percentage || 'empty' }}</span>
                </td>
                <!--<td><span editable-text="evaluations.conduct" e-name="evaluations.conduct" onaftersave="EditEvaluation($index)"
                    e-form="rowform" e-required>{{evaluations.conduct || 'empty' }}</span></td>-->
                <td class="select-td">
                  <span editable-select="evaluations.conduct" e-name="conduct" onaftersave="EditEvaluation($index)" e-form="rowform" e-selectpicker
                    e-ng-options="sub.type as sub.id for sub in conduct">
                    {{evaluations.conduct}}
                  </span>
                </td>
                <td class="pull-right">
                  <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == evaluations">
                    <button type="submit" ng-click="EditEvaluation($index)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                      <i class="fa fa-check"></i>
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                      <i class="fa fa-remove"></i>
                    </button>
                  </form>

                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteEvaluation($index)" ng-confirm-click="Are you sure you want to delete this item?">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>-->
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-center">
                  <div class="pull-right" st-pagination="" st-items-by-page="6" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>

          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Edit values modal Starts here-->
<!-- <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form name="employeeDetails" ng-submit="addEmployee(data)" novalidate>
        <div class="modal-header">
          <h3>Edit Marks</h3>
        </div>
        <div class="modal-body">

         
          <form name="evaluations" ng-submit="evaluations.$valid && addEvaluations(data)" novalidate>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.marksObtained.$pristine}">
                  <label>Marks obtained</label>
                  <input name="marksObtained" type="text" class="form-control" placeholder="Enter ..." required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Marks Percentage</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Conduct</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">--Select--</option>
                    <option>Poor</option>
                    <option>Below Average</option>
                    <option>Average</option>
                    <option>Above Average</option>
                    <option>Good</option>
                    <option>Excellent</option>
                  </select>
                </div>
              </div>

            </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Marks</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </form>
    </div>

    </form>
  </div>
</div>
</div> -->