<div class="row background">
  <div class="container">
    <h1>Student Management</h1>
    <ul class="links">
      <li ui-sref-active="active">
        <a ui-sref="main.student">Information</a>
      </li>
      <li ui-sref-active="active" ng-show="showRole(['admin'])">
        /
        <a ui-sref="main.studentAdmission">Admission</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="Admission">
      <div class="col-md-12">
        <div class="backwhite">
          <section class="studentadmission">
            <h1>Bulk Student Admission</h1>

            <div class="box-header with-border">
              <ul class="panel-controls" style="margin-left:5px;">
                <!-- <li>
                    <button type="button" class="btn btn-success" ng-click="export()">
                        <span class="glyphicon glyphicon-export"/> Export
                      </button>
                </li> -->
                <li>

                  <div class="tooltip" style="margin-right: 352px;">
                    <!-- <label>Download Excel Format</label> -->
                    <button class="btn btn-primary pull-right">
                      <img src="../../../dist/img/images/xlsx6.png" data-ng-click="export()" class="img-responsive" width="30" height="30" alt="Responsive image">
                    </button>

                    <span ng-hide="excel" class="tooltiptext">Download Excel Format file</span>
                    <span ng-show="excel" class="tooltiptext">Downloading....</span>
                  </div>

                </li>
                <li>
                  <label>Class</label>
                  <select name="class" class="form-control select2" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId">
                    <option selected="selected">--Select--</option>
                    <option ng-repeat="class in classData" value="{{class.class_id}}">{{class.name}}</option>
                  </select>
                </li>
                <li>
                  <label>Section</label>
                  <select class="form-control select2" name="section" style="width: 100%;" ng-model="secId">
                    <option selected="selected">--Select--</option>
                    <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
                  </select>
                </li>


                <li>
                  <label>Excel Files</label>
                  <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)" />
                </li>
                <!-- <li>
                  <label>Images Zip</label>
                  <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)" />
                </li> -->
                <li>
                  <label> &nbsp; </label>
                  <input style="margin-top: 24px;" type="button" value="Import" class="btn btn-primary" ng-click="handleFile(secId)" />
                </li>

              </ul>
            </div>
            <!-- </section>

       
          <section class="studentadmission"> -->
            <h1> Single Student Admission</h1>
            <form name="studentAdmission" ng-submit="studentAdmission.$valid && handleImage(data);" novalidate>
              <div class="box-body">

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted && studentAdmission.admissionNo.$invalid && studentAdmission.admissionNo.$pristine}">
                      <label id="left" >Admission No </label><a id="color"  >*</a>
                      <input type="text" name="admissionNo" ng-model="data.admission_no" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.roll.$pristine}">
                      <label id="left" >Roll No </label><a id="color">*</a>
                      <input type="text" name="roll" class="form-control" placeholder="Enter ..." ng-model="data.roll_no">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.class.$pristine}">
                      <label id="left">Class</label><a id="color" >*</a>
                      <select name="class" class="form-control select2" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId">
                        <option selected="selected" value="">--Select--</option>
                        <option ng-repeat="class in classData" value="{{class.class_id}}">{{class.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.section.$pristine }">
                      <label id="left">Section</label><a id="color" >*</a>
                      <select class="form-control select2" name="section" style="width: 100%;" ng-model="secId">
                        <option selected="selected" value="">--Select--</option>
                        <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted && studentAdmission.firstName.$invalid && studentAdmission.firstName.$pristine}">
                      <label id="left">First Name</label><a id="color" >*</a>
                      <input type="text" name="firstName" ng-model="data.first_name" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted && studentAdmission.lastName.$invalid && studentAdmission.lastName.$pristine}">
                      <label id="left">Last Name</label><a id="color" >*</a>
                      <input type="text" name="lastName" ng-model="data.last_name" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.gender.$pristine}">
                      <label id="left">Gender</label><a id="color" >*</a>
                      <select name="gender" ng-model="data.gender" class="form-control select2" style="width: 100%;">
                        <option selected="selected" value="">--Select--</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.dob.$pristine}">
                      <label id="left">Date of Birth</label><a id="color" >*</a>
                      <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                        <input name="dob" class="form-control" type="text" ng-model="data.dob" ng-readonly="true" placeholder="Enter ..." required/>
                      </datepicker>
                    </div>
                  </div>


                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.category.$pristine}">
                      <label id="left">Category</label><a id="color" >*</a>
                      <select name="category" class="form-control select2" ng-model="data.category" style="width: 100%;">
                        <option selected="selected" value="">--Select--</option>
                        <option>General</option>
                        <option>OBC</option>
                        <option>Minority</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.religion.$pristine}">
                      <label id="left">Nationality</label><a id="color" >*</a>
                      <input type="text" name="religion" ng-model="data.religion" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.contact.$pristine||studentAdmission.contact.$error.pattern}">
                      <label id="left">Contact No</label><a id="color" >*</a>
                      <input name="contact" type="text" ng-model="data.phone" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.aadhaar.$pristine}">
                        <label id="left">Aadhaar No</label><a id="color" >*</a>
                        <input name="aadhaar" type="text" ng-model="data.aadhar_no" class="form-control" placeholder="Enter ...">
                      </div>
                    </div>
                  
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" >
                      <label>Blood Group</label>
                      <input type="text" name="bloodGroup" ng-model="data.bloodGroup" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.admissionDate.$pristine}">
                      <label id="left">Admission Date</label><a id="color" >*</a>
                      <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="yyyy-MM-dd" style="z-index:999">
                        <input name="admissionDate" class="form-control" type="text" ng-model="data.admission_date" ng-readonly="true" placeholder="Enter ..."
                          required/>
                      </datepicker>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>School Bus Route</label>
                      <select class="form-control select2" name="route" ng-model="routeId" style="width: 100%;">
                        <option selected value="">--Select--</option>
                        <option ng-repeat="route in busRoutes" value="{{route.bus_route_id}}">{{route.route_title}}</option>

                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" ng-model="data.email" class="form-control" placeholder="Enter ..." required>
                      </div>
                    </div>
                  

                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Student Photo</label>
                      <input type="file" name="file" class="form-control" ng-model="data.student_photo" ngf-select ngf-pattern="'image/*'" accept="image/*"
                        ngf-max-size="1MB" onchange="angular.element(this).scope().loadImage(this.files)">

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <p style="color:#9e0707;font-size:15px;margin-top:27px;"> {{message}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box-header with-border">

                <h3 class="box-title">Parent/Guardian Details</h3>

              </div>

              <div class="box-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.father.$pristine}">
                      <label id="left">Father Name</label><a id="color" >*</a>
                      <input type="text" name="father" ng-model="data.father_name" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.Phone.$pristine||studentAdmission.Phone.$error.pattern}">
                      <label id="left">Father Phone</label><a id="color" >*</a>
                      <input name="Phone" type="text" ng-model="data.father_contact" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" class="form-control"
                        placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.fatheremail.$pristine||studentAdmission.fatheremail.$error.pattern}">
                      <label id="left">Father Email</label><a id="color" >*</a>
                      <input type="email" name="fatheremail" ng-model="data.fatheremail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control"
                        placeholder="Enter ..." required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.occupation.$pristine}">
                      <label id="left">Father Occupation</label><a id="color" >*</a>
                      <input name="occupation" type="text" ng-model="data.father_occupation" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" >
                      <label>Mother Name</label>
                      <input name="Name" type="text" ng-model="data.mother_name" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Mother Phone</label>
                      <input name="motherphone" type="text" ng-model="data.mother_contact" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Mother Email</label>
                      <input type="email" name="motheremail" ng-model="data.motheremail" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Mother Occupation</label>
                      <input name="mother" type="text" ng-model="data.mother_occupation" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col-md-6"> -->
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Guardian Name</label>
                      <input name="name" type="text" ng-model="data.gaurdian_name" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>


                  <!-- </div>

                    <div class="row"> -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Guardian Phone</label>
                      <input name="phone" type="text" ng-model="data.gaurdian_contact" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Guardian Email</label>
                      <input type="text" name="gaurdianemail" ng-model="data.gaurdianemail" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Guardian Occupation</label>
                      <input name="guardian" type="text" ng-model="data.gaurdian_occupation" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Guardian Relation</label>
                      <input name="relation" type="text" ng-model="data.gaurdian_relation" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>

              </div>



              <div class="box-header with-border">
                <h3 class="box-title">Student Address</h3>

              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.current.$pristine}">
                      <label id="left">Current Address</label><a id="color" >*</a>
                      <textarea name="current" class="form-control" ng-model="data.cur_address" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': studentAdmission.$submitted  && studentAdmission.permanant.$pristine}">
                      <label id="left">Permanent Address</label><a id="color" >*</a>
                      <textarea class="form-control" name="permanant" ng-model="data.perm_address" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">


                  <div class="col-md-4">
                    <div class="form-group">
                      <label id="left">Create Parent Account</label><a id="color" >*</a>

                      <div class="radio">
                        <label>
                          <input style="position:relative;margin-left:0;" type="radio" name="parentAccount" value="true" ng-value="true" ng-model="data.parentAccount"> Yes
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input style="position:relative;margin-left:0;" type="radio" name="parentAccount" value="false" ng-value="false" ng-model="data.parentAccount"> No
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4" ng-show="data.parentAccount == true">
                    <div class="form-group">
                      <label>Choose Account</label>
                      <div class="radio">
                        <label>
                          <input type="radio" name="parentAccountCreate" value="true" ng-value="true" ng-model="data.parentAccountCreate"> New
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="parentAccountCreate" value="false" ng-value="false" ng-model="data.parentAccountCreate"> Existing
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4" ng-show="data.parentAccountCreate == false">
                    <div class="form-group">
                      <label>Choose Account</label>

                      <select name="parentId" ng-model="data.parentId" class="form-control" ng-options="parent.parent_id as parent.parent_name for parent in parentsList ">
                        <option value="" selected>--Select Parent--</option>
                      </select>

                    </div>
                  </div>

                </div>




              </div>
              <div class="box-header with-border">
                <h3 class="box-title">Upload Documents</h3>

              </div>
              <div class="box-body">
                <div class="row">


                  <div class="col-md-3">
                    <fieldset ng-repeat="choice in data.choices">
                      <ng-form name="form1">
                        <label>Choose File</label>
                        <input type="file" name="file" class="form-control" ngf-select ngf-max-size="1MB" onchange="angular.element(this).scope().loadImage(this.files)">

                      </ng-form>
                    </fieldset>
                    <button style="background: #2e64b6;margin-top:20px;color:white;" class="remove" ng-click="removeChoice()">-</button>
                    <button style="background: #2e64b6;color:white;" class="addfields" ng-click="addNewChoice()">+</button>
                  </div>


                </div>
              </div>

              <button ng-click="handleImage(data);" type="submit" class="btn btn-primary pull-right">Submit</button>


            </form>

        </div>
      </div>
    </div>
  </div>
</div>