
    <section class="content-header">
      <h1>
        <i class="fa fa-money"></i>
        Fee Collection
        <small>Collect Fees</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Fee Collection</li>
        <li class="active">Collect Fees</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

            <div class="box box-default">
              <div class="box-header with-border">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Class</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Class 6</option>
                        <option>Class 7</option>
                        <option>Class 8</option>
                        <option>Class 9</option>
                        <option>Class 10</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Section</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Section A</option>
                        <option>Section B</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Search by keyword</label>
                      <input type="text" name="search_text" class="form-control" placeholder="Search...">
                    </div>
                  </div>

                </div>
              </div>

              <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">Search</button>
              </div>
            </div>
    
    <!-- Content List -->
        <div class="box box-default">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i> List  View</a></li>
                </ul>
            </div>
           
          <div class="box-body">  
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-striped">
                  <thead>
                   <tr>
                    <th>Student Name</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Roll No</th>
                    <th>Father Name</th>
                    <th>Mobile No</th>
                    <th class="pull-right">Action</th>
                   </tr>
                  </thead>
                 <tbody>
                   <tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr><tr>
                    <td>Rahul Prasad</td>
                    <td>Class X</td>
                    <td>Section A</td>
                    <td>25</td>
                    <td>Chakravarthy</td>
                    <td>986646446</td>
                    <td class="pull-right">
                      <a href="Collect-Fee2.html" class="btn btn-primary btn-xs" data-toggle="tooltip" title data-original-title> Collect Fees
                      </a>
                    </td>
                   </tr>
                 </tbody>
                </table>
              </div>                       
            </div>
          </div>
        </div>
    </section>
  