<div class="row background">
  <div class="container">
       <h1>Fee Management</h1>
         <ul class="links">
          <li>
              <a ui-sref='main.feeType'>Feetype</a>
          </li>
          <li>/
              <a ui-sref='main.feeMaster'>FeeMaster</a>
          </li>
          <li>/
              <a ui-sref='main.collectFee'>CollectFee</a>
          </li>
          
      </ul>        
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="collectfee">
        <div class="col-md-3">
          <div class="backwhite">
            <h1>Fee Collection</h1> 
             <div class="form-group">
            <label>Select Class</label>
            <select class="form-control select2" data-ng-change="populateSections(data.classId)" style="width: 100%;" ng-model="data.classId"
              ng-options="class.class_id as class.name  for class in classDatanew">
                       
                       <!--<option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
                      </select>
          </div>
                    <div class="form-group">
            <label>Select Section</label>
            <select class="form-control select2" ng-change="populateStudentValue(data.secId);" style="width: 100%;" name="section" ng-model="data.secId"
              ng-options="sec.section_id as sec.name  for sec in secData">
<!--                      
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                        
                      </select>
          </div>
                        <div class="form-group" ng-if="showRole(['admin','teacher'])">
            <label>Select Student  </label>
            <select class="form-control select2" style="width: 100%;" name="studentId" ng-model="data.studentId" ng-options="student.student_id as student.first_name+' '+student.last_name for student in students ">
                            <!--<option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>-->
                        </select>
          </div>
                       
        <div class="box-footer">
          <button type="button" ng-click="getFee(data.studentId)" class="btn btn-primary pull-right"style="background-color: #03104e;border-color: #03104e;">Select</button>
        </div>
     
             </div>
             </div>
         <div class="col-md-9">
           <div class="backwhite">
              <h1>List View</h1>
               <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#paymentList" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Payment List </a></li>
                <!-- <li class=""><a data-target="#paidList" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Paid List </a></li> -->
             <li class="btn btn-primary pull-right" ng-click="getStudent($index)" data-toggle="modal" data-target="#myModal" title data-original-title>
              Collect Fees
            </li>
            </ul>
        </div>
                <div class="tab-content">
            <div class="tab-pane table-responsive no-padding active" id="paymentList">
              <table export-table st-table="display_records" st-safe-src="collectFeeData" class="table table-striped">
                <thead>
                  <tr>
                    <th> #</th>
                    <th>Fee Type</th>
                    <th>Fee Category</th>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Fine</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <!--<th class="pull-right">Action</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr st-select-row="row" st-select-mode="multiple" ng-repeat="collectFee in display_records" >
                    <td>{{$index+1}}</td>
                    <td>{{collectFee.feetype[0].fee_type}}</td>
                    <td>{{collectFee.feetype[0].fee_category}}</td>
                    <td>{{collectFee.payment_mode}}</td>
                    <td>{{collectFee.feemaster[0].fee_amount}}</td>
                    <td>{{collectFee.fine}}</td>
                    <td>{{collectFee.discount}}</td>
                    <td>{{(parseInt(collectFee.feemaster[0].fee_amount)+parseInt(collectFee.fine))-(parseInt(collectFee.discount))}}</td>
                    <!--<td class="pull-right">
                    <a class="btn btn-primary btn-xs" ng-click="getStudent($index)" data-toggle="modal" data-target="#myModal" title data-original-title> Collect Fees
                  </a>
                  </td>-->
                  </tr>

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" class="text-center">
                      <div class="pull-right" st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                    </td>
                  </tr>
                </tfoot>

              </table>
            </div>

            <div class="tab-pane no-padding" id="paidList">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> #</th>
                    <th>Fee Type</th>
                    <th>Fee Category</th>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Fine</th>
                    <th>Discount</th>
                    <th>Total</th>
             
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="collectFee in collectFeeData1">
                    <td>{{$index+1}}</td>
                    <td>{{collectFee.feetype[0].fee_type}}</td>
                    <td>{{collectFee.feetype[0].fee_category}}</td>
                    <td>{{collectFee.payment_mode}}</td>
                    <td>{{collectFee.feemaster[0].fee_amount}}</td>
                    <td>{{collectFee.fine}}</td>
                    <td>{{collectFee.discount}}</td>
                    <td>{{(parseInt(collectFee.feemaster[0].fee_amount)+parseInt(collectFee.fine))-(parseInt(collectFee.discount))}}</td>
                   
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
           </div>
        </div>
       
        
      </div>
    
 </div>
</div>
<!--modal  -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form name="feeDetails" novalidate>
        <div class="modal-header">
          <h3>Collect Fee</h3>
        </div>
        <div class="modal-body">

          <!-- /.box-header -->
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date </label>
                  <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                    <input class="form-control" name="Date" type="text" ng-model="value.date" ng-readonly="true" placeholder="Enter ..." required/>
                  </datepicker>
                </div>
              </div>

              <!--<div class="col-md-4">
                <div class="form-group">
                  <label>Fee Category</label>
                  <select class="form-control select2" style="width: 100%;" name="FeeCatogery" ng-model="data.fee_catogery" ng-options="fee.fee_category as fee.fee_category for fee in feeTypeData">
                       
                      </select>
                </div>
              </div>-->

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fee Type</label>
                  <select class="form-control select2" style="width: 100%;" ng-options="type.fee_type as type.fee_type for type in feeTypeData"
                    ng-model="value.fee_type">
              
                      </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Payment Mode</label>
                  <select class="form-control select2" style="width: 100%;" ng-model="value.payment_mode">
                        <option selected="selected">--Select--</option>
                        <option>Cash</option>
                        <option>Cheque</option>
                        <option>paytm</option>
                      </select>
                </div>
              </div>

              <!--<div class="col-md-4">
                <div class="form-group">
                  <label>Amount</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="data.amount">
                </div>
              </div>-->

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fine</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="value.fine">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Discount</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="value.discount">
                </div>
              </div>

            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" ng-click="addFee(value,data.studentId)" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--modal  -->
<section class="content-header">
  <h1>
    <i class="fa fa-money"></i> Fee Collection
    <small>Collect Fees</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Fee Collection</li>
    <li class="active">Collect Fees</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->

  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Select Class</label>
            <select class="form-control select2" data-ng-change="populateSections(data.classId)" style="width: 100%;" ng-model="data.classId"
              ng-options="class.class_id as class.name  for class in classDatanew">
                       
                       <!--<option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
                      </select>
          </div>
        </div>

        <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Select Section</label>
            <select class="form-control select2" ng-change="populateStudentValue(data.secId);" style="width: 100%;" name="section" ng-model="data.secId"
              ng-options="sec.section_id as sec.name  for sec in secData">
<!--                      
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                        
                      </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-if="showRole(['admin','teacher'])">
            <label>Select Student  </label>
            <select class="form-control select2" style="width: 100%;" name="studentId" ng-model="data.studentId" ng-options="student.student_id as student.first_name+' '+student.last_name for student in students ">
                            <!--<option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>-->
                        </select>
          </div>
        </div>





      </div>
      <div class="row">
        <div class="col-md-12" ng-if="showRole(['admin','teacher','parent'])">
          <button type="button" ng-click="getFee(data.studentId)" class="btn btn-primary pull-right">Select</button>
        </div>
      </div>
      <!--<div class="box-body">
        <div class="row">


          <div class="col-md-4">
            <label>Select Class</label>
            <select data-ng-change="populateSections(classId)" name="selectSubject" class="form-control select2" ng-model="classId" style="width: 100%;">
              <option selected="selected">--Select--</option>
              <option ng-repeat="class in classData" value="{{class.class_id}}">{{class.name}}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label>Select Section</label>
            <select data-ng-change="getStudentValue(secId)" name="selectSubject" class="form-control select2" ng-model="secId" style="width: 100%;">
              <option selected="selected">--Select--</option>
              <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label>Select Student</label>
            <select name="selectSubject" class="form-control select2" ng-model="secId" style="width: 100%;">
              <option selected="selected">--Select--</option>
              <option ng-repeat="student in studentData" value="{{student.student_id}}">{{student.first_name}}{{student.last_name}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="box-footer">
        <button type="submit" ng-click="getFeeType()" class="btn btn-primary pull-right">Search</button>
      </div>
    </div>-->

      <!-- Content List -->
      <div class="box box-default">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#paymentList" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Payment List </a></li>
                <li class=""><a data-target="#paidList" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Paid List </a></li>
             <li class="btn btn-primary pull-right" ng-click="getStudent($index)" data-toggle="modal" data-target="#myModal" title data-original-title>
              Collect Fees
            </li>
            </ul>
        </div>
       

        <div class="box-body">
          <div class="tab-content">
            <div class="tab-pane table-responsive no-padding active" id="paymentList">
              <table export-table st-table="display_records" st-safe-src="collectFeeData" class="table table-striped">
                <thead>
                  <tr>
                    <th> #</th>
                    <th>Fee Type</th>
                    <th>Fee Category</th>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Fine</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <!--<th class="pull-right">Action</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr st-select-row="row" st-select-mode="multiple" ng-repeat="collectFee in display_records" >
                    <td>{{$index+1}}</td>
                    <td>{{collectFee.feetype[0].fee_type}}</td>
                    <td>{{collectFee.feetype[0].fee_category}}</td>
                    <td>{{collectFee.payment_mode}}</td>
                    <td>{{collectFee.feemaster[0].fee_amount}}</td>
                    <td>{{collectFee.fine}}</td>
                    <td>{{collectFee.discount}}</td>
                    <td>{{(parseInt(collectFee.feemaster[0].fee_amount)+parseInt(collectFee.fine))-(parseInt(collectFee.discount))}}</td>
                    <!--<td class="pull-right">
                    <a class="btn btn-primary btn-xs" ng-click="getStudent($index)" data-toggle="modal" data-target="#myModal" title data-original-title> Collect Fees
                  </a>
                  </td>-->
                  </tr>

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" class="text-center">
                      <div class="pull-right" st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                    </td>
                  </tr>
                </tfoot>

              </table>
            </div>

            <div class="tab-pane no-padding" id="paidList">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> #</th>
                    <th>Fee Type</th>
                    <th>Fee Category</th>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Fine</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <!--<th class="pull-right">Action</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="collectFee in collectFeeData1">
                    <td>{{$index+1}}</td>
                    <td>{{collectFee.feetype[0].fee_type}}</td>
                    <td>{{collectFee.feetype[0].fee_category}}</td>
                    <td>{{collectFee.payment_mode}}</td>
                    <td>{{collectFee.feemaster[0].fee_amount}}</td>
                    <td>{{collectFee.fine}}</td>
                    <td>{{collectFee.discount}}</td>
                    <td>{{(parseInt(collectFee.feemaster[0].fee_amount)+parseInt(collectFee.fine))-(parseInt(collectFee.discount))}}</td>
                    <!--<td class="pull-right">
                    <a class="btn btn-primary btn-xs" ng-click="getStudent($index)" data-toggle="modal" data-target="#myModal" title data-original-title> Collect Fees
                  </a>
                  </td>-->
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
</section>


<!--Edit values modal Starts here-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form name="feeDetails" novalidate>
        <div class="modal-header">
          <h3>Collect Fee</h3>
        </div>
        <div class="modal-body">

          <!-- /.box-header -->
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date </label>
                  <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                    <input class="form-control" name="Date" type="text" ng-model="value.date" ng-readonly="true" placeholder="Enter ..." required/>
                  </datepicker>
                </div>
              </div>

              <!--<div class="col-md-4">
                <div class="form-group">
                  <label>Fee Category</label>
                  <select class="form-control select2" style="width: 100%;" name="FeeCatogery" ng-model="data.fee_catogery" ng-options="fee.fee_category as fee.fee_category for fee in feeTypeData">
                       
                      </select>
                </div>
              </div>-->

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fee Type</label>
                  <select class="form-control select2" style="width: 100%;" ng-options="type.fee_type as type.fee_type for type in feeTypeData"
                    ng-model="value.fee_type">
              
                      </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Payment Mode</label>
                  <select class="form-control select2" style="width: 100%;" ng-model="value.payment_mode">
                        <option selected="selected">--Select--</option>
                        <option>Cash</option>
                        <option>Cheque</option>
                        <option>paytm</option>
                      </select>
                </div>
              </div>

              <!--<div class="col-md-4">
                <div class="form-group">
                  <label>Amount</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="data.amount">
                </div>
              </div>-->

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fine</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="value.fine">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Discount</label>
                  <input type="text" class="form-control" placeholder="Enter ..." ng-model="value.discount">
                </div>
              </div>

            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" ng-click="addFee(value,data.studentId)" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>