

  <div class="row background">
  <div class="container">
      <h1>Student Profile</h1>         
  </div>
</div>
<div class="container">
  <div class="studentprofile">
   <div class="studentimage">
     <div class="tooltip">
         <img class="img-thumbnail"  ng-src="{{studentPhoto}}" >
        <p>{{studentDetails.first_name}}</p>
     </div>
   </div>
    <div class="col-md-12">
     <div class="admissiondetails">
       <div class="col-md-12">
         <h1>Admission details</h1>
         
          <div class="col-md-6">
            <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
                <tr>
                </tr> 
               </thead>
               <tbody>
                 <tr>
                   <td><b>First Name :</b> {{studentDetails.first_name}}</td>
                 </tr>
                 <tr>
                   <td><b>Last Name :</b>{{studentDetails.last_name}}</td>
                 </tr>
                 <tr>
                   <td><b>Admission Number :</b> {{studentDetails.admission_no}}</td>
                  
                 </tr>
                 
                 <tr>
                    <td><b>Roll no :</b>{{studentDetails.roll_no}}</td>
                    
                 </tr> 
                
                 <tr>
                    <td><b>Class :</b>{{studentDetails.school_classes[0].name}}</td>
                    
                 </tr> 
                 <tr>
                    <td><b>Section :</b>{{studentDetails.sections[0].name}}</td>
                 </tr>
                 
                 <tr>
                   <td><b>Gender :</b>{{studentDetails.gender}}</td>
                 </tr>
                </tbody>               
            </table>
           </div>
           </div>
           
           <div class="col-md-6">
             <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
                <tr>
                </tr> 
               </thead>
               <tbody>
                <tr>
                   <td><b>Date of Birth :</b>{{studentDetails.dob}}</td>
                 </tr>
                
                 <tr>
                   <td><b>Category :</b>{{studentDetails.category}}</td>
                  
                 </tr>
                 
                 <tr>
                    <td><b>Religion :</b>{{studentDetails.religion}}</td>
                    
                 </tr> 
                
                 <tr>
                    <td><b>Contact :</b>{{studentDetails.phone}}</td>
                    
                 </tr> 
                 <tr>
                    <td><b>Email :</b>{{studentDetails.email}}</td>
                 </tr>
                 <tr>
                    <td><b>Admission Date :</b>{{studentDetails.admission_date}}</td>
                 </tr>
                 </tbody>               
            </table>
           </div>
           </div>
       </div>
    </div>
 </div>
 <div class="parentdetails">
       <div class="col-md-12">
         <h1>Parent/Guardian details</h1>
        <div class="col-md-6">
        <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
                <tr>
                </tr> 
               </thead>
               <tbody>
                 <tr>
                   <td><b>Father Name :</b>{{studentDetails.parents[1].parent_name}}</td>
                 </tr>
                 <tr>
                    <td><b>Father Contact :</b>{{studentDetails.parents[1].parent_contact}}</td> 
                 </tr> 
                 <tr>
                    <td><b>Father Occupation :</b>{{studentDetails.parents[1].occupation}}</td>
                 </tr> 
                
                 <tr>
                   <td><b>Mother Name :</b>{{studentDetails.parents[0].parent_name}}</td>
                 </tr>
                 <tr>
                   <td><b>Mother Contact :</b>{{studentDetails.parents[0].parent_contact}}</td>
                 </tr>
                 <tr>
                   <td><b>Mother Occupation :</b>{{studentDetails.parents[0].occupation}}</td>
                 </tr>
                </tbody>               
            </table>
           </div>
           </div>
           <div class="col-md-6">
             <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
                <tr>
                </tr> 
               </thead>
               <tbody>
               
                <tr>
                   <td><b>Guardian Name :</b>{{studentDetails.parents[2].parent_name}}</td>
                 </tr>
                 <tr>
                   <td><b>Guardian Relation :</b>{{studentDetails.parents[2].parent_relation}}</td>
                 </tr>
                 <tr>
                    <td><b>Guardian Address :</b>{{studentDetails.parents[2].parent_address}}</td>
                 </tr> 
                 <tr>
                    <td><b>Guardian Phone :</b>{{studentDetails.parents[2].parent_contact}}</td>
                 </tr> 
                 <tr>
                    <td><b>Guardian Qualification :</b>{{studentDetails.parents[2].occupation}}</td>
                 </tr>
                 </tbody>               
            </table>
           </div>
        </div>
       <div class="Studentdetails">
       <div class="col-md-12">
         <h1>Student Address</h1>
        <div class="col-md-6">
        <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
               
               
               <tbody>
                 <tr>
                   <td><b>Current :</b>{{studentDetails.current_address[0].cur_address}}</td>
                 </tr>
                 <tr>
                    <td><b>Pernament :</b>{{studentDetails.permanent_address[0].perm_address}}</td> 
                 </tr> 
                
                </tbody>               
            </table>
           </div>
           </div>
           <div class="col-md-6">
             <div class="table-responsive">
               <table class="table table-bordered" style="width:100%">
               <thead>
                <tr>
                </tr> 
               </thead>
               <tbody>
               <tr>
                   <td><b>School Bus Route :</b>{{studentDetails.bus_route_id}}</td>
                 </tr>
                <tr>
                   <td><b>Aadhar Number :</b>{{studentDetails.aadhar_no}}</td>
                 </tr>
                 </tbody>               
            </table>
           </div>
        </div>
     
    </div>
  </div>   
 </div>
 </div>
 </div>
 </div>
 
<!-- <div class="row background">
  <div class="container">
    <h1>Student Profile</h1>
    </div>
    </div>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary" >
        <div class="box-header with-border" >
          <h3 class="box-title"> {{student.first_name}} {{student.last_name}}</h3>
          <div class="box-tools pull-right">
            
          </div>
          <div class="box-body">
            <br>
            <div class="col-md-2">
              
              
              <img class="img-thumbnail" ng-src="{{studentPhoto}}"  alt="No Image">
            </div>
          
            <div class="col-md-10">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Name :</th>
                    <td> {{first_name}} {{last_name}}</td>
                    <th>Father Name :</th>
                    <td>{{father_name}}</td>
                  </tr>
                  <tr>
                    <th>Class :</th>
                    <td>{{class_id}}</td>
                    <th>Section :</th>
                    <td>{{section}}</td>
                  </tr>
                  <tr>
                    <th>Admission No :</th>
                    <td>{{admission_no}}</td>
                    <th>Roll No :</th>
                    <td>{{roll_no}}</td>
                  </tr>
                  <tr>
                    <th>Mobile No :</th>
                    <td>{{phone}}</td>
                    <th>Category :</th>
                    <td>{{category}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </section> -->