

  <div class="row background">
  <div class="container">
      <h1>Student Profile</h1>         
  </div>
</div>
<div class="container">
 <div class="studentprofile">
  <div class="studentimage">
    <div class="tooltip">
       <img ng-src="{{studentPhoto}}" >
       <p>{{first_name}}</p>
       <!-- <span class="tooltiptext">Save</span> -->
    </div>
  </div>
   <div class="col-md-12">
    <div class="admissiondetails">
      <div class="col-md-12">
        <h1>Admission details</h1>
      <div class="col-md-6">
       <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
                <tr>
                  <td>Admission Number  :
                  {{studentDetails.admission_no}}</td>
                 
                </tr>
                
                <tr>
                   <td>Roll no:{{studentDetails.roll_no}}</td>
                   
                </tr> 
               
                <tr>
                   <td>Class</td>
                   
                </tr> 
                <tr>
                   <td>Section</td>
                </tr>
                <tr>
                  <td>Fore Name</td>
                </tr>
                <tr>
                  <td>Sure Name</td>
                </tr>
                <tr>
                  <td>Gender</td>
                </tr>
               </tbody>               
           </table>
          </div>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
               <tr>
                  <td>Date of Birth</td>
                </tr>
                <tr>
                  <td>Fore Name</td>
                </tr>
                <tr>
                  <td>Category</td>
                 
                </tr>
                
                <tr>
                   <td>Religion</td>
                   
                </tr> 
               
                <tr>
                   <td>Contact</td>
                   
                </tr> 
                <tr>
                   <td>Email</td>
                </tr>
                <tr>
                   <td>Admission Date</td>
                </tr>
                </tbody>               
           </table>
          </div>
          </div>
      </div>
   </div>
</div>
<div class="parentdetails">
      <div class="col-md-12">
        <h1>Parent/Guardian details</h1>
       <div class="col-md-6">
       <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
                <tr>
                  <td>Father Name</td>
                </tr>
                <tr>
                   <td>Contact</td> 
                </tr> 
                <tr>
                   <td>Occupation</td>
                </tr> 
                <tr>
                   <td>Section</td>
                </tr>
                <tr>
                  <td>Mother Name</td>
                </tr>
                <tr>
                  <td>Mother Contact</td>
                </tr>
               </tbody>               
           </table>
          </div>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
              <tr>
                  <td>Mother Occupation</td>
                </tr>
               <tr>
                  <td>Guardian Name</td>
                </tr>
                <tr>
                  <td>Guardian Relation</td>
                </tr>
                <tr>
                   <td>Guardian Address</td>
                </tr> 
                <tr>
                   <td>Guardian Phone</td>
                </tr> 
                <tr>
                   <td>Guardian Qualification</td>
                </tr>
                </tbody>               
           </table>
          </div>
       </div>
      <div class="Studentdetails">
      <div class="col-md-12">
        <h1>Student Address</h1>
       <div class="col-md-6">
       <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
                <tr>
                  <td>Current</td>
                </tr>
                <tr>
                   <td>Pernament</td> 
                </tr> 
                <tr>
                   <td>Occupation</td>
                </tr> 
               </tbody>               
           </table>
          </div>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-bordered" style="width:100">
              <thead>
               <tr>
               </tr> 
              </thead>
              <tbody>
              <tr>
                  <td>School Bus Route</td>
                </tr>
               <tr>
                  <td>Aadhar Number</td>
                </tr>
                </tbody>               
           </table>
          </div>
       </div>
    
   </div>
 </div>   
</div>
</div>
</div>
</div>

 
<!-- <div class="row background">
  <div class="container">
    <h1>Student Profile</h1>
    </div>
    </div>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary" >
        <div class="box-header with-border" >
          <h3 class="box-title"> {{student.first_name}} {{student.last_name}}</h3>
          <div class="box-tools pull-right">
            
          </div>
          <div class="box-body">
            <br>
            <div class="col-md-2">
              
              
              <img class="img-thumbnail" ng-src="{{studentPhoto}}"  alt="No Image">
            </div>
          
            <div class="col-md-10">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Name :</th>
                    <td> {{first_name}} {{last_name}}</td>
                    <th>Father Name :</th>
                    <td>{{father_name}}</td>
                  </tr>
                  <tr>
                    <th>Class :</th>
                    <td>{{class_id}}</td>
                    <th>Section :</th>
                    <td>{{section}}</td>
                  </tr>
                  <tr>
                    <th>Admission No :</th>
                    <td>{{admission_no}}</td>
                    <th>Roll No :</th>
                    <td>{{roll_no}}</td>
                  </tr>
                  <tr>
                    <th>Mobile No :</th>
                    <td>{{phone}}</td>
                    <th>Category :</th>
                    <td>{{category}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </section> -->