<section class="content-header">
  <h1>
    <i class="fa fa-file-text"></i> Examinations
    <small>Exam Papers</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li>Examinations</li>
    <li class="active">Exam Papers</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->

  <div class="box box-default">
    <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
      <!-- <i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3> -->
      <!-- <ul class="panel-controls">
        <li>
          <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().loadFile(this.files)"
          />
        </li>
        <li>
          <input type="button" value="Import" class="btn btn-primary" ng-click="handleFile()" />
        </li>

      </ul> -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Class</label>
            <select class="form-control select2" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId" ng-options="classData.class_id as classData.name for classData in classDatanew ">
              <!--<option selected="selected">--Select--</option>
                        <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
            </select>
          </div>
        </div>

        <div class="col-md-4" ng-show="showRole(['admin','teacher'])">
          <div class="form-group">
            <label>Section</label>
            <select class="form-control select2" ng-change="getSubjects(secId);getExamPapersbySectionAndSchedule(examScheduleId,secId)"
              style="width: 100%;" ng-model="secId" ng-options="sectionData.section_id as sectionData.name for sectionData in secData ">
              <!--<option selected="selected">--Select--</option>
                        <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
            </select>
          </div>
        </div>

        <div class="col-md-4" ng-if="showRole(['admin','teacher','parent'])">
          <div class="form-group">
            <label>Select Exam Schedule</label>
            <select data-ng-change="getExamPapersbySectionAndSchedule(examScheduleId,secId)" name="examschedule" class="form-control select2"
              style="width: 100%;" ng-model="examScheduleId" ng-options="examSh.exam_sch_id as examSh.exam_title for examSh in examSchedule ">
            </select>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
          <button type="submit" class="btn btn-primary pull-right">Select</button>
        </div>
      </div>

      <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <h3 class="box-title">Add Exam Paper</h3>
      </div>
      <form name="examPapers" ng-submit="examPapers.$valid && addExamPapers(data,data.subjectId,examScheduleId,classId,secId)"
        novalidate>
        <div class="row">
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group">
              <label>Select Subject</label>
              <select class="form-control select2" name="subjects" ng-model="data.subjectId" style="width: 100%;" ng-options="subjectD.subject_id as subjectD.name for subjectD in subjectsData ">
              </select>
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.paperTitle.$invalid && examPapers.paperTitle.$pristine}">
              <label>Paper Title</label>
              <input type="text" class="form-control" name="paperTitle" ng-model="data.exam_paper_title" placeholder="Enter ..." required>
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.maxmarks.$invalid && examPapers.maxmarks.$pristine}">
              <label>Max Marks</label>
              <input type="text" class="form-control" name="maxmarks" ng-model="data.max_marks" placeholder="Enter ..." required>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.examDate.$invalid && examPapers.examDate.$pristine}">
              <label>Exam Date</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                  <input class="form-control" name="examDate" type="text" ng-model="data.date" ng-readonly="true" placeholder="Enter ..." required/>
                </datepicker>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.startTime.$invalid && examPapers.startTime.$pristine}">
              <label>Start Time</label>
              <div class="input-group">
                <input type="text" name="startTime" ng-model="data.time_from" class="form-control timepicker" required>
                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
            <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.endTime.$invalid && examPapers.endTime.$pristine}">
              <label>End Time</label>
              <div class="input-group">
                <input type="text" name="endTime" ng-model="data.time_to" class="form-control timepicker" required>
                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
            <button type="submit" class="btn btn-primary pull-right">Add Paper</button>
          </div>
        </div>
      </form>
    </div>


  </div>

  <!-- /.content -->

  <!-- Content List -->
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <h3 class="box-title">Exam Papers</h3>
      <li style="float:right;list-style-type:none;">
        <button type="button" data-ng-click="exportAction('excel')" class="btn btn-primary pull-right">Save as Excel</button>
      </li>
      <li style="float:right;list-style-type:none;">
        <button type="button" data-ng-click="exportAction('pdf')" class="btn btn-primary pull-right">Save as PDF</button>
      </li>
    </div>
    <div class="box-body">
      <div class="tab-content">
        <div class="tab-pane table-responsive no-padding active" id="tab_1">
          <table export-table st-table="display_records" st-safe-src="examData" class="table rwd-table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Paper Title</th>
                <th>Max Marks</th>
                <th>Exam Date</th>
                <th>Start Time</th>
                <th> End Time</th>
                <th class="pull-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="exam in display_records" class="editable-row">
                <td>{{$index+1}}</td>
                <td class="select-td">
                  <span editable-select="exam.subject_name" e-name="subject" onaftersave="EditExamPapers($index)" e-form="rowform" e-selectpicker
                    e-ng-options="sub.name as sub.name for sub in subjectsData">
                    {{ exam.subject_name}}
                  </span>
                </td>
                <td>
                  <span editable-text="exam.exam_paper_title" e-name="editdata.exam_paper_title" onaftersave="EditExamPapers($index)"
                    e-form="rowform" e-required>{{exam.exam_paper_title || 'empty' }}</span>
                </td>
                <td>
                  <span editable-text="exam.max_marks" e-name="editdata.max_marks" onaftersave="EditExamPapers($index)" e-form="rowform"
                    e-required>{{exam.max_marks || 'empty' }}</span>
                </td>
                <td>
                  <span editable-text="exam.date" e-name="editdata.date" onaftersave="EditExamPapers($index)" e-form="rowform"
                    e-required>{{exam.date || 'empty' }}</span>
                </td>
                <td>
                  <span editable-text="exam.start_time" e-name="editdata.start_time" onaftersave="EditExamPapers($index)" e-form="rowform"
                    e-required>{{exam.start_time || 'empty' }}</span>
                </td>
                <td>
                  <span editable-text="exam.end_time" e-name="editdata.end_time" onaftersave="EditExamPapers($index)" e-form="rowform"
                    e-required>{{exam.end_time || 'empty' }}</span>
                </td>
                <td class="pull-right">
                  <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == exam">
                    <button type="submit" ng-click="EditExamPapers($index)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                      <i class="fa fa-check"></i>
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                      <i class="fa fa-remove"></i>
                    </button>
                  </form>

                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteExamPapers($index)" ng-confirm-click="Are you sure you want to delete this item?">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>-->
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-center">
                  <div class="pull-right" st-pagination="" st-items-by-page="6" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Edit values modal Starts here-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form name="employeeDetails" ng-submit="addEmployee(data)" novalidate>
        <div class="modal-header">
          <h3>Edit Exam Paper</h3>
        </div>
        <div class="modal-body">

          <!-- /.box-header -->
          <!-- /.box-header -->
          <form name="examPapers" ng-submit="addExamPapers(data)" novalidate>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Select Subject</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">--Select--</option>
                    <option>Subject 1</option>
                    <option>Subject 2</option>
                    <option>Subject 3</option>
                    <option>Subject 4</option>
                    <option>Subject 5</option>
                    <option>Subject 6</option>
                    <option>Subject 7</option>
                    <option>Subject 8</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Paper Title</label>
                  <input type="text" class="form-control" ng-model="data.exam_paper_title" placeholder="Enter ...">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Max Marks</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exam Date</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                      <input class="form-control" name="startDate" type="text" ng-model="data.date" ng-readonly="true" placeholder="Enter ..."
                        required/>
                    </datepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Start Time</label>
                  <div class="input-group">
                    <input type="text" ng-model="data.satrt_time" class="form-control timepicker">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>End Time</label>
                  <div class="input-group">
                    <input type="text" ng-model="data.end_time" class="form-control timepicker">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Paper</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

    </div>

    </form>
  </div>
</div>
</div>