
<div class="row background">
  <div class="container">
    <h1>Examination Management</h1>
    <ul class="links">
      <li ui-sref-active="active">
        <a ui-sref='main.examSchedules'>Schedule</a>/
      </li>
      <li ui-sref-active="active">
        <a ui-sref='main.examPapers'>Papers</a>/
      </li>
      <li ui-sref-active="active">
        <a ui-sref='main.evaluations'>Evaluation</a>/
      </li>
      <li ui-sref-active="active">
        <a ui-sref="main.examReports2">Exam Reports</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="Exampapers">
      <div class="col-md-3">
        <div class="backwhite">

          <div class="form-group"  ng-show="showRole(['admin','teacher'])">
            <label>Class</label>
            <select class="form-control select2" data-ng-change="populateSections(classId)"  ng-model="classId" ng-options="classData.class_id as classData.name for classData in classDatanew ">
              <!--<option selected="selected">--Select--</option>
              <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
            </select>
          </div>


          <div class="form-group"  ng-show="showRole(['admin','teacher'])">
            <label>Section</label>
            <select class="form-control select2" ng-change="getSubjects(secId);getExamPapersbySectionAndSchedule(examScheduleId,secId)"
              ng-model="secId" ng-options="sectionData.section_id as sectionData.name for sectionData in secData ">
                       <!--<option selected="selected">--Select--</option>
                        <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                      </select>
          </div>


          <div class="form-group"  ng-show="showRole(['admin','teacher','parent'])">
            <label>Exam Schedule</label>
            <select data-ng-change="getExamPapersbySectionAndSchedule(examScheduleId,secId)" name="examschedule" class="form-control select2"
               ng-model="examScheduleId" ng-options="examSh.exam_sch_id as examSh.exam_title for examSh in examSchedule ">
            </select>
          </div>



          <div class="box-footer"  ng-if="showRole(['admin','teacher'])">
            <button class="btn btn-primary pull-right" type="submit" value="add" style="background-color: #03104e;border-color: #03104e;">Search</button>
          </div>

        </div>
      </div>
      <div class="col-md-9"  ng-if="showRole(['admin','teacher'])">
          <div class="backwhite">
          <div class="addchapters">
            <form name="examPapers" ng-submit="examPapers.$valid && addExamPapers(data,data.subjectId,examScheduleId,classId,secId)"
              novalidate>
              <div class="row">
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted  && examPapers.subjects.$pristine}">
                    <label>Subject</label>
                    <select class="form-control select2" name="subjects" ng-model="data.subjectId" style="width: 100%;" ng-options="subjectD.subject_id as subjectD.name for subjectD in subjectsData ">
                  </select>
                  </div>
                </div>
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.paperTitle.$invalid && examPapers.paperTitle.$pristine}">
                    <label>Paper Title</label>
                    <input type="text" class="form-control" name="paperTitle" ng-model="data.exam_paper_title" placeholder="Enter ..." required>
                  </div>
                </div>
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.maxmarks.$invalid && examPapers.maxmarks.$pristine}">
                    <label>Max Marks</label>
                    <input type="text" class="form-control" name="maxmarks" ng-model="data.max_marks" placeholder="Enter ..." required>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.examDate.$invalid && examPapers.examDate.$pristine}">
                    <label>Exam Date</label>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                        <input class="form-control" name="examDate" type="text" ng-model="data.date" ng-readonly="true" placeholder="Enter ..." required/>
                      </datepicker>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.startTime.$invalid && examPapers.startTime.$pristine}">
                    <label>Start Time</label>
                    <div class="input-group">
                      <input type="text" name="startTime" ng-model="data.time_from" class="form-control timepicker" required>
                      <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                  <div class="form-group" ng-class="{'has-error': examPapers.$submitted && examPapers.endTime.$invalid && examPapers.endTime.$pristine}">
                    <label>End Time</label>
                    <div class="input-group">
                      <input type="text" name="endTime" ng-model="data.time_to" class="form-control timepicker" required>
                      <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group"  ng-if="showRole(['admin','teacher'])">
                <button type="submit" class="btn btn-primary pull-right" style="background-color: #03104e;border-color: #03104e;">Add Paper</button>
              </div>

            </form>

          </div>
          </div>
      
      </div>
      <div class="col-md-9">
          <div class="backwhite">
          <!-- <div class="subjectlist">
            <div class="col-md-12">

              <div class="col-xs-3 col-md-4">
                <div class="tooltip"  ng-show="showRole(['admin','teacher'])">
                  <button><img src="../../../dist/img/images/pdf.jpg" data-ng-click="exportAction('pdf')" class="img-responsive" width="30" height="30" alt="Responsive image"></button>
                  <span class="tooltiptext">Download file</span>
                </div>
                <div class="tooltip"  ng-show="showRole(['admin','teacher'])">
                  <button><img src="../../../dist/img/images/xlsx6.png" data-ng-click="exportAction('excel')" class="img-responsive" width="30" height="30" alt="Responsive image"></button>
                  <span class="tooltiptext">Download file</span>

                </div>
              </div>

            </div>
          </div> -->
          <div class="table-responsive">
          <table export-table st-table="display_records" st-safe-src="examData"  style="width:100%">
            <tr>
              <th>#</th>
              <th>Subject</th>
              <th>Paper Title</th>
              <th>Max Marks</th>
              <th>Exam Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th class="pull-right"  ng-show="showRole(['admin','teacher'])">Action</th>
            </tr>
            <tbody>
              <tbody>
                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="exam in display_records" class="editable-row">
                  <td>{{exam.id+1}}</td>
                  <td class="select-td">
                    <!-- <span editable-select="exam.subject_name" e-name="subject" onaftersave="EditExamPapers(exam.id)" e-form="rowform" e-selectpicker
                      e-ng-options="sub.name as sub.name for sub in subjectsData"></span> -->
                      {{ exam.subject_name}}
                  </td>
                  <td><span editable-text="exam.exam_paper_title" e-name="editdata.exam_paper_title" onaftersave="EditExamPapers(exam.id)"
                      e-form="rowform" e-required>{{exam.exam_paper_title || 'empty' }}</span></td>
                  <td><span editable-text="exam.max_marks" e-name="editdata.max_marks" onaftersave="EditExamPapers(exam.id)" e-form="rowform"
                      e-required>{{exam.max_marks || 'empty' }}</span></td>
                  <td><span editable-text="exam.date" e-name="editdata.date" onaftersave="EditExamPapers(exam.id)" e-form="rowform"
                      e-required>{{exam.date || 'empty' }}</span></td>
                  <td><span editable-text="exam.start_time" e-name="editdata.start_time" onaftersave="EditExamPapers(exam.id)"
                      e-form="rowform" e-required>{{exam.start_time || 'empty' }}</span></td>
                  <td><span editable-text="exam.end_time" e-name="editdata.end_time" onaftersave="EditExamPapers(exam.id)" e-form="rowform"
                      e-required>{{exam.end_time || 'empty' }}</span></td>
                  <td class="pull-right"  ng-show="showRole(['admin','teacher'])">
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == exam">
                      <button type="submit" ng-click="EditExamPapers(exam.id)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"><i class="fa fa-check"></i></button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"><i class="fa fa-remove"></i></button>
                    </form>

                    <div class="buttons" ng-show="!rowform.$visible">
                      <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteExamPapers(exam.id)" ng-confirm-click="Are you sure you want to delete this item?"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>-->
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="text-center">
                    <div class="pull-right" st-pagination="" st-items-by-page="4" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>

          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>