<div class="row background">
  <div class="container">
      <h1>Fee Management</h1>
       <ul class="links">
          <li>
              <a href="">Feetype</a>
          </li>
          <li>/
              <a href="">FeeMaster</a>
          </li>
          <li>/
              <a href="">CollectFee</a>
          </li>
          <li>/
              <a href="feecollection/collectfee2.html">CollectFee2</a>
          </li>
      </ul>        
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="collectfee2">
        <div class="col-md-12">
          <div class="backwhite">
            <h1>Fee Collection</h1> 
            <h1>Payment List</h1>    
                <table style="width:100%">
               <tr>
                   <th>#</th>
                   <th>Date</th>
                   <th>Fee Type</th>
                   <th>Fee Category</th>
                   <th>Payment Mode</th>
                   <th>Amount</th>
                   <th>Fine</th>
                   <th>Discount</th>
                   <th>Total</th>
               </tr>                
           </table>
            </div>
         </div>
     </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="js/scripts.js"></script>
</body>
</html>