<section class="content-header">
  <h1>
    <i class="fa fa-money"></i> Fee Collection
    <small>Collect Fees</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Fee Collection</li>
    <li class="active">Collect Fees</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!--<div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> Collect Fees</h3>
              <div class="box-tools pull-right">
                <div class="btn-group">
                  <a href="collect-Fee.html" type="button" class="btn btn-primary btn-xs"><i class="fa fa-arrow-left"></i></a>
                </div> 
              </div>
              <div class="box-body">
              <br>
                <div class="col-md-2">
                  <img class="img-thumbnail" src="../../dist/img/user2-160x160.png" alt="No Image">
                </div>
                <div class="col-md-10">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Name :</th>
                        <td>Rahul Prasad</td>
                        <th>Father Name :</th>
                        <td>Chakravarthy</td>
                      </tr>
                      <tr>
                        <th>Class :</th>
                        <td>Class X</td>
                        <th>Section :</th>
                        <td>Section A</td>
                      </tr>
                      <tr>
                        <th>Admission No :</th>
                        <td>12124</td>
                        <th>Roll No :</th>
                        <td>25</td>
                      </tr>
                      <tr>
                        <th>Mobile No :</th>
                        <td>9490299316</td>
                        <th>Category :</th>
                        <td>General</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>  -->

  <!-- Content List -->
  <div class="box box-default">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i> Payment List</a></li>

      </ul>
    </div>

    <div class="box-body">
      <div class="tab-content">
        <div class="tab-pane table-responsive no-padding active" id="tab_1">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th> #</th>
                <th>Date</th>
                <th>Fee Type</th>
                <th>Fee Category</th>
                <th>Payment Mode</th>
                <th>Amount</th>
                <th>Fine</th>
                <th>Discount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="collectFee in collectFeeData">
                <td>{{$index+1}}</td>
                <td>{{collectFee.date}}</td>
                <td>{{collectFee.feetype[0].fee_type}}</td>
                <td>{{collectFee.feetype[0].fee_category}}</td>
                <td>{{collectFee.payment_mode}}</td>
                <td>{{collectFee.feemaster[0].fee_amount}}</td>
                <td>{{collectFee.fine}}</td>
                <td>{{collectFee.discount}}</td>
                <!--<td>{{(collectFee.feemaster[0].fee_amount)+(collectFee.fine)}}</td>-->
                <td>{{(parseInt(collectFee.feemaster[0].fee_amount)+parseInt(collectFee.fine))-(parseInt(collectFee.discount))}}</td>
                <!---->
              </tr>
              <!--<tr>
                    <td>2</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>3</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>4</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>5</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>6</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>7</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>8</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>9</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>
                   <tr>
                    <td>10</td>
                    <td>22-06-2017</td>
                    <td>Annual</td>
                    <td>Tuition Fee</td>
                    <td>Cash</td>
                    <td>25000</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>23000</td>
                   </tr>                -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>