<section class="content-header">
  <h1>
    <i class="fa fa-users"></i> Employee Management
    <small>Employees</small>
  </h1>

  <ol class="breadcrumb">
    <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Employee Management</li>
    <li class="active">Employee</li>
  </ol>
</section>
<!-- /.Content Header -->

<!-- Main content -->
<section class="content">
  <!-- Select Criteria -->
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-search" aria-hidden="true"></i>
      <h3 class="box-title">Select Criteria</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Batch Year</label>
            <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                      </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Employee Type</label>
            <select ng-model="search.job_category" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--Select--</option>
                        <option value="teaching">Teaching</option>
                        <option value="non-teaching">Non-Teaching</option>
                        <option value="administrative">Administrative</option>
                      </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Gender</label>
            <select ng-model="search.gender" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--Select--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Search by keyword</label>
            <input type="text" ng-model="searchEmp" name="search_text" class="form-control" placeholder="Search...">
          </div>
        </div>

      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">Search</button>
    </div>
  </div>

  <!-- /.content -->

  <!-- Content List -->
  <div class="box box-default">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i> List  View</a></li>
        <!--<li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-newspaper-o"></i> Details View</a></li>-->
        <li style="float:right"><button type="button" data-ng-click="exportAction('excel')" class="btn btn-primary pull-right">Save as Excel</button></li>
        <li style="float:right"><button type="button" data-ng-click="exportAction('pdf')" class="btn btn-primary pull-right">Save as PDF</button></li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane table-responsive no-padding active employeDetails" id="tab_1">
        <table export-table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Employee name</th>
              <th>Gender</th>
              <th>Job Category</th>
              <th>Experience</th>
              <th>Joining Date</th>
              <th>Email</th>
              <!--<th>Website</th>-->
              <th>Mobile No</th>
              <th>School Id</th>
              <th ng-if="role != 'parent'">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in employeeData | filter:search:true" class="editable-row">
              <td>{{$index+1}}</td>
              <td><a href="">{{employee.first_name}} {{employee.last_name }}</a></td>
              <td><span editable-text="employee.gender" e-name="employee.gender" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.gender || 'empty' }}</span></td>
              <td><span editable-text="employee.job_category" e-name="employee.job_category" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.job_category || 'empty' }}</span></td>
              <td><span editable-text="employee.experience" e-name="employee.experience" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.experience || 'empty' }}</span></td>
              <td><span editable-text="employee.joined_on" e-name="employee.joined_on" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.joined_on || 'empty' }}</span></td>
              <td><span editable-text="employee.email" e-name="employee.email" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.email || 'empty' }}</span></td>
              <!--<td>{{employee.website}}</td>-->
              <td><span editable-text="employee.phone" e-name="employee.phone" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.phone || 'empty' }}</span></td>
              <td><span editable-text="employee.school_id" e-name="employee.school_id" onaftersave="EditEmployee($index)" e-form="rowform" e-required>{{employee.school_id || 'empty' }}</span></td>
              <td ng-if="role != 'parent'">
                <form ng-if="role != 'parent'" editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == employee">
                  <button ng-if="role != 'parent'" type="submit" ng-click="EditEmployee($index)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">Save</button>
                  <button ng-if="role != 'parent'" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">Cancel</button>
                </form>

                <div ng-if="role != 'parent'" class="buttons" ng-show="!rowform.$visible">
                  <button ng-if="role != 'parent'" class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                  <button ng-if="role != 'parent'" class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteEmployee($index)" ng-confirm-click="Are you sure you want to delete this item?">Delete</button>
                  <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>-->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>



<!--Edit values modal Starts here-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form name="employeeDetails"  novalidate>
        <div class="modal-header">
          <h3>Edit Employee</h3>
        </div>
        <div class="modal-body">

          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" ng-model="editdata.name" class="form-control" placeholder="Enter ...">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Surname Name</label>
                  <input type="text" class="form-control" ng-model="editdata.surname" placeholder="Enter ...">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" ng-model="editdata.email" placeholder="Enter ...">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control" ng-model="editdata.phone" placeholder="Enter ...">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Date of Birth</label>
                  <!--<input type="text" class="form-control pull-right" id="datepicker" ng-model="" placeholder="Select a Date ...">-->
                  <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="dd-MM-yyyy" style="z-index:999">
                    <input class="form-control" name="startDate" type="text" ng-model="editdata.dob" ng-readonly="true" placeholder="Enter ..."
                      required/>
                  </datepicker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control select2" style="width: 100%;" ng-model="editdata.gender">
                        <option selected="selected">--Select--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Experience</label>
                  <input type="text" class="form-control" ng-model="editdata.experience" placeholder="Enter ...">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Date of Joining</label>
                  <datepicker date-min-limit='today1' date-format="dd-MM-yyyy" style="z-index:999">
                    <input class="form-control" name="startDate" type="text" ng-model="editdata.joined_on" ng-readonly="true" placeholder="Enter ..."
                      required/>
                  </datepicker>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Job Profile</label>
                  <input type="text" class="form-control" ng-model="editdata.job_category" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" class="form-control" ng-model="editdata.website" placeholder="Enter ...">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Teaching Subjects</label>
                  <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" ng-model="editdata.teachingSubjects">
                        <option>Telugu</option>
                        <option>Hindi</option>
                        <option>English</option>
                        <option>Mathematics</option>
                        <option>Science</option>
                        <option>Social</option>
                        <option>None</option>
                      </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Academic Qualification</label>
                  <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Pre-Bachelors</option>
                        <option>Bachelors degree</option>
                        <option>Masters degree</option>
                        <option>Post-Masters</option>
                      </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Employee Photo</label>
                  <input type="file" name="first_doc" id="doc1">
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" ng-click="addEditEmployee(editdata)" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>