<section class="content-header">
    <h1>
        <i class="fa fa-bus"></i> Student Attendance
        <small>Attendance Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Student Attendance</li>
        <li class="active">Attendance Report</li>
    </ol>
</section>

<section class="content">
    <!-- Select Criteria -->
    <div class="box box-default">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Report By Day </a></li>
                <!--<li class=""><a data-target="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Report By Month </a></li>-->
            </ul>
        </div>

        <div class="box-body">
            <div class="tab-content">
                <div class="tab-pane no-padding active" id="tab_1">

                     <div class="row">
                        <!--<div class="col-md-4">
                            <div class="form-group">
                                <label>Employee Type</label>
                                <select ng-model="search.job_category" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--All--</option>
                        <option value="teaching">Teaching</option>
                        <option value="non-teaching">Non-Teaching</option>
                        <option value="administrative">Administrative</option>
                      </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender</label>
                                <select ng-model="search.gender" class="form-control select2" style="width: 100%;">
                        <option value="" selected="selected">--All--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                            </div>
                        </div>-->


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Date</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <!--<input type="text"  ng-model="data.due_date" class="form-control pull-right" id="datepicker">-->
                                    <datepicker date-set="{{today1}}" date-set-hidden="true" date-format="yyyy-MM-dd" style="z-index:999">
                                        <input class="form-control" name="selectDate" type="text" ng-model="select_date" ng-readonly="true" placeholder="Enter ..."
                                            required/>
                                    </datepicker>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <button type="submit" ng-click="getAttendenceByDay(select_date)" class="btn btn-primary pull-right">Select</button>
                            <li style="list-style-type:none;"><button type="button" pdf-save-button="idOneGraph" pdf-name="bookList.pdf" class="btn btn-primary pull-left">Save as PDF</button></li>
                        </div>

                        <!--<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                </canvas>-->

                    </div>
                  
                    <div class="box-body">
                        <div class="row">
                            <div class="tab-content">
                                <div class="table-responsive mailbox-messages">

                                    <!--<table class="table rwd-table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Addmission No</th>
                                                <th>Roll No</th>
                                                <th>Class</th>
                                                <th>Attendance</th>
                                                <th class="pull-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="busRoute in busRoutes" class="editable-row">
                                                <td>
                                                    {{$index+1}}
                                                </td>
                                                <td>
                                                    <span editable-text="busRoute.route_title" e-name="route_title" onaftersave="EditBusRoute($index)" e-form="rowform" e-required>{{busRoute.route_title || 'empty' }}</span>
                                                </td>
                                                <td class="select-td">
                                                    <span editable-select="busRoute.vehicle_code" e-name="vehicle_code" e-form="rowform" e-selectpicker e-ng-options="vehicle.vehicle_name as vehicle.vehicle_name for vehicle in vehicles">
                                                    {{busRoute.vehicle_code}}</span>
                                                </td>
                                                <td class="pull-right">
                                                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == busRoute">
                                                        <button type="submit" ng-click="EditBusRoute($index)" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"><i class="fa fa-check"></i></button>
                                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"><i class="fa fa-remove"></i></button>
                                                    </form>

                                                    <div class="buttons" ng-show="!rowform.$visible">
                                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" confirmed-click="DeleteBusRoute($index)" ng-confirm-click="Are you sure you want to delete this item?"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>-->
                                    <div class="box box-success" style="margin-top:10px">

                                        <div class="box-header with-border">
                                            <h3 class="box-title">Donut Chart</h3>

                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body" pdf-save-content="idOneGraph">
                                            <div class="chart" style="margin-left:130px">
                                                <zingchart id="myChart" zc-values="chartdata" zc-json="myJson" zc-height=400 zc-width=100%></zingchart>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="tab-pane no-padding" id="tab_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Class</label>
                                <select class="form-control select2" name="classId" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId"
                                    ng-options="classData.class_id as classData.name for classData in classDatanew ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>-->
                      </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Section</label>
                                <select class="form-control select2" name="sectionId" data-ng-change="getStudentValue(secId)" style="width: 100%;" ng-model="secId"
                                    ng-options="sectionData.section_id as sectionData.name for sectionData in secData ">
                        <!--<option selected="selected">--Select--</option>
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>-->
                        
                      </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Student</label>
                                <select class="form-control select2" style="width: 100%;" ng-model="studentId" ng-options="studentData.student_id as studentData.first_name for studentData in students ">
                            <!--<option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>-->
                        </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Month</label>
                                <select name="month" class="form-control select2" style="width: 100%;" ng-model="select_month" ng-options="monthData.id as monthData.name for monthData in months ">
                            <!--<option selected="selected">--Select--</option>
                            <option ng-repeat="month in months " value="{{month.id}}">{{month.name}}</option>-->
                        </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-right" ng-click="getAttendenceByMonth(select_month,studentId)">Select</button>
                            <li style="list-style-type:none;"><button type="button" pdf-save-button="idOneGraph" pdf-name="bookList.pdf" class="btn btn-primary pull-left">Save as PDF</button></li>
                        </div>
                        <!--<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                </canvas>-->

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="tab-content">
                                <div class="table-responsive mailbox-messages">
                                   
                                    <div class="box box-success" style="margin-top:10px">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Donut Chart</h3>

                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body" pdf-save-content="idOneGraph">
                                            <div class="chart" style="margin-left:130px">
                                                <!--<div id='myChart'></div>-->
                                                <zingchart id="myChart1" zc-values="chartdata1" zc-json="myJson1" zc-height=400 zc-width=100%></zingchart>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>